In [282]:
import pandas as pd
from functools import reduce
import numpy as np
from collections import Counter

### Data Collection

In [284]:
mainboard_df = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\MainBoard-Data-2019-2025.csv")
sme_df = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\SME-Data-2019-2025.csv")
annual_df = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\Annual-Result-2019-2025.csv")
balance_sheet = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\Balance-Sheet-2019-2025.csv")
cash_flow_df = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\Cash-Flow-2019-2025.csv")
financial_ratio = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\Financail_Ratio-2019-2025.csv")
secondary_data_df = pd.read_csv(r"C:\Users\Aniket\OneDrive\Desktop\Personal\Projects\IPO-Performance-Prediction\Data\Secondary-Data-2019-2025.csv")

In [285]:
for i in [annual_df,balance_sheet,cash_flow_df,financial_ratio]:
    print(i.shape)

(17746, 17)
(14183, 17)
(4364, 17)
(8728, 17)

In [286]:
financial_statement = pd.concat([annual_df,balance_sheet,cash_flow_df,financial_ratio])

### Financial Data Cleaning and transformation

In [288]:
unique_set = set()

In [289]:
for i in annual_df['Indicator'].unique():
    unique_set.add(i)

In [290]:
for i in balance_sheet['Indicator'].unique():
    unique_set.add(i)

In [291]:
for i in cash_flow_df['Indicator'].unique():
    unique_set.add(i)

In [292]:
for i in financial_ratio['Indicator'].unique():
    unique_set.add(i)

In [293]:
unique_set

{'Annual Reports',
 'BVSH Ann.',
 'Bonus Equity Share Capital Ann.',
 'Cash from Financing Act. Ann.',
 'Cash from Investing Act. Ann.',
 'Cash from Operating Act. Ann.',
 'Contingent Liabilities plus Commitments Ann.',
 'Current Investments Unquoted Book Value Ann.',
 'Depr.',
 'EBITDA Ann.',
 'EBITDA Ann. margin %',
 'EPS Adj. latest Ann.',
 'Fixed Assets Ann.',
 'Interest Ann.',
 'Liquidity Ratio',
 'Minority Interest Liability Ann.',
 'NPM Ann. %',
 'Net Cash Flow Ann.',
 'Net Profit Ann.',
 'Non Current Investments Unquoted Book Value Ann.',
 'OPM Ann. %',
 'Operating Exp. Ann.',
 'Operating Profit Ann.',
 'PAT Before ExtraOrdinary Items Ann.',
 'PBT Ann.',
 'Profitability Ratio',
 'ROCE Ann. %',
 'ROE Ann. %',
 'Result Notes',
 'RoA Ann. %',
 'Tax Ann.',
 'Total Assets Ann.',
 'Total Capital Plus Liabilities Ann.',
 'Total Current Assets Ann.',
 'Total Current Liabilities Ann.',
 'Total Debt to Total Equity Ann.',
 'Total Exp. Ann.',
 'Total Non Current Assets Ann.',
 'Total Non Current Liabilities Ann.',
 'Total Rev. Ann.',
 'Total ShareHolders Funds Ann.',
 'Valuation Ratio'}

In [294]:
primary_df = pd.concat([sme_df,mainboard_df],axis=0)

In [295]:
def Transform_data(df):
    return (
        df.drop(['Unnamed: 0','CAGR 3 Yrs', 'CAGR 5 Yrs', 'TTM'],axis=1)
        .melt(id_vars=['Company','Indicator'],
          value_vars=["Mar '24","Mar '23","Mar '22","Mar '21","Mar '20","Mar '19","Mar '18","Mar '17","Mar '16","Mar '15"],
         var_name='Year')
        .pivot(columns=['Indicator'],index=['Company','Year'],values='value').reset_index()
    )

In [296]:
trans_df = Transform_data(financial_statement)
trans_df

Indicator,Company,Year,Annual Reports,BVSH Ann.,Bonus Equity Share Capital Ann.,Cash from Financing Act. Ann.,Cash from Investing Act. Ann.,Cash from Operating Act. Ann.,Contingent Liabilities plus Commitments Ann.,Current Investments Unquoted Book Value Ann.,...,Total Capital Plus Liabilities Ann.,Total Current Assets Ann.,Total Current Liabilities Ann.,Total Debt to Total Equity Ann.,Total Exp. Ann.,Total Non Current Assets Ann.,Total Non Current Liabilities Ann.,Total Rev. Ann.,Total ShareHolders Funds Ann.,Valuation Ratio
0,3B Films,Mar '15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3B Films,Mar '16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3B Films,Mar '17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3B Films,Mar '18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3B Films,Mar '19,NaN,4.2,NaN,NaN,NaN,NaN,NaN,NaN,...,71,23,22.1,5.6,48.3,47.9,40.4,48.6,8.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,ideaForge Technology,Mar '20,NaN,"7,712",NaN,2.1,4.5,-17.1,3.5,NaN,...,78.9,47.4,9.1,0.1,29.9,31.4,1.3,16.4,68.5,NaN
10906,ideaForge Technology,Mar '21,NaN,"6,781.6",NaN,43.9,-11,-31.7,4.5,NaN,...,123.5,81.6,23.9,0.7,50.6,41.9,39.3,36.3,60.4,NaN
10907,ideaForge Technology,Mar '22,NaN,"12,404.3",NaN,-10.6,-30.8,66.5,7.1,NaN,...,222.3,143.6,47.2,0.1,111.3,78.7,11.9,161.5,110.4,NaN
10908,ideaForge Technology,Mar '23,NaN,152.2,NaN,176.2,-148.9,-53.2,7.5,NaN,...,487.9,383.7,149.4,0.3,155.6,104.2,13.8,196.4,324.7,NaN
10909,ideaForge Technology,Mar '24,NaN,154,NaN,189.5,-101.7,76,7,NaN,...,742.5,602.4,68.5,NaN,283.3,140.1,13.5,344.4,660.6,NaN

In [297]:
trans_df.columns.unique()

Index(['Company', 'Year', 'Annual Reports', 'BVSH Ann.',
       'Bonus Equity Share Capital Ann.', 'Cash from Financing Act. Ann.',
       'Cash from Investing Act. Ann.', 'Cash from Operating Act. Ann.',
       'Contingent Liabilities plus Commitments Ann.',
       'Current Investments Unquoted Book Value Ann.', 'Depr.', 'EBITDA Ann.',
       'EBITDA Ann. margin %', 'EPS Adj. latest Ann.', 'Fixed Assets Ann.',
       'Interest Ann.', 'Liquidity Ratio', 'Minority Interest Liability Ann.',
       'NPM Ann. %', 'Net Cash Flow Ann.', 'Net Profit Ann.',
       'Non Current Investments Unquoted Book Value Ann.', 'OPM Ann. %',
       'Operating Exp. Ann.', 'Operating Profit Ann.',
       'PAT Before ExtraOrdinary Items Ann.', 'PBT Ann.',
       'Profitability Ratio', 'ROCE Ann. %', 'ROE Ann. %', 'Result Notes',
       'RoA Ann. %', 'Tax Ann.', 'Total Assets Ann.',
       'Total Capital Plus Liabilities Ann.', 'Total Current Assets Ann.',
       'Total Current Liabilities Ann.', 'Total Debt to Total Equity Ann.',
       'Total Exp. Ann.', 'Total Non Current Assets Ann.',
       'Total Non Current Liabilities Ann.', 'Total Rev. Ann.',
       'Total ShareHolders Funds Ann.', 'Valuation Ratio'],
      dtype='object', name='Indicator')

In [298]:
trans_df = trans_df[['Company', 'Year',"Total Rev. Ann.","Net Profit Ann.","EBITDA Ann.","ROE Ann. %","ROCE Ann. %","EPS Adj. latest Ann.",
        "NPM Ann. %","Total Debt to Total Equity Ann.","Cash from Operating Act. Ann.","Liquidity Ratio","Valuation Ratio"]]

In [299]:
for i in trans_df.columns:
    print(f"{i} --> {(trans_df[trans_df[i] == '-'].shape[0]/trans_df.shape[0])*100}")

Company --> 0.0
Year --> 0.0
Total Rev. Ann. --> 0.5499541704857929
Net Profit Ann. --> 0.5499541704857929
EBITDA Ann. --> 3.684692942254812
ROE Ann. % --> 0.1924839596700275
ROCE Ann. % --> 0.30247479376718606
EPS Adj. latest Ann. --> 0.6416131989000917
NPM Ann. % --> 0.0
Total Debt to Total Equity Ann. --> 0.0
Cash from Operating Act. Ann. --> 0.5499541704857929
Liquidity Ratio --> 0.0
Valuation Ratio --> 0.0

In [300]:
# trans_df = trans_df.drop('Minority Interest Liability Ann.',axis=1)

In [301]:
pd.set_option('future.no_silent_downcasting', True)
for i in trans_df.columns:

    if (trans_df[trans_df[i] == '-'].shape[0]/trans_df.shape[0])*100 > 10.00 :
        trans_df = trans_df.drop(i,axis=1)
        print('dropped')
    elif (trans_df[trans_df[i] == '-'].shape[0]/trans_df.shape[0])*100 == 0.00 :
        print('continue')
        continue
    else:
        trans_df[i] = trans_df[i].replace("-",np.nan)
        print("replace - , nan")

continue
continue
replace - , nan
replace - , nan
replace - , nan
replace - , nan
replace - , nan
replace - , nan
continue
continue
replace - , nan
continue
continue

C:\Users\Aniket\AppData\Local\Temp\ipykernel_6040\468049957.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans_df[i] = trans_df[i].replace("-",np.nan)

In [302]:
for i in trans_df.columns:
    print(f"{i} --> {(trans_df[trans_df[i] == '-'].shape[0]/trans_df.shape[0])*100}")

Company --> 0.0
Year --> 0.0
Total Rev. Ann. --> 0.0
Net Profit Ann. --> 0.0
EBITDA Ann. --> 0.0
ROE Ann. % --> 0.0
ROCE Ann. % --> 0.0
EPS Adj. latest Ann. --> 0.0
NPM Ann. % --> 0.0
Total Debt to Total Equity Ann. --> 0.0
Cash from Operating Act. Ann. --> 0.0
Liquidity Ratio --> 0.0
Valuation Ratio --> 0.0

In [303]:
trans_df

Indicator,Company,Year,Total Rev. Ann.,Net Profit Ann.,EBITDA Ann.,ROE Ann. %,ROCE Ann. %,EPS Adj. latest Ann.,NPM Ann. %,Total Debt to Total Equity Ann.,Cash from Operating Act. Ann.,Liquidity Ratio,Valuation Ratio
0,3B Films,Mar '15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3B Films,Mar '16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3B Films,Mar '17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3B Films,Mar '18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3B Films,Mar '19,48.6,-1,NaN,-11.73%,5.59%,-0.4,-2.09%,5.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,ideaForge Technology,Mar '20,16.4,-13.5,-10.9,-19.78%,-18.98%,-3.1,-96.04%,0.1,-17.1,NaN,NaN
10906,ideaForge Technology,Mar '21,36.3,-14.3,-10.2,-23.66%,-13.38%,-3.3,-40.89%,0.7,-31.7,NaN,NaN
10907,ideaForge Technology,Mar '22,161.5,44,75.1,39.86%,38.73%,10.2,27.60%,0.1,66.5,NaN,NaN
10908,ideaForge Technology,Mar '23,196.4,32,57.5,9.85%,13.48%,7.4,17.19%,0.3,-53.2,NaN,NaN
10909,ideaForge Technology,Mar '24,344.4,45.3,85.9,6.85%,9.60%,10.5,14.41%,NaN,76,NaN,NaN

In [304]:
def Data_cleaning(df):
    return (
        df       
        .assign(
            **{
                col:df[col].str.strip()
                for col in df.select_dtypes(include='O')
            }
        )
        .rename(columns=str.lower)
        .assign(
            year = lambda df_ : pd.to_datetime(df_['year'].str.replace(" '",''),format="%b%y"),
            cash_from_operating_act_ann_cr = lambda df_ : pd.to_numeric(df_['cash from operating act. ann.'].str.replace(",","")),
            ebitda_ann_cr = lambda df_ : pd.to_numeric(df_['ebitda ann.'].str.replace(",","")),
            eps_adj_latest_ann = lambda df_ : pd.to_numeric(df_['eps adj. latest ann.'].str.replace(",","")),
            npm_ann_percent = lambda df_ : pd.to_numeric(df_['npm ann. %'].str.replace(",","").str.replace("%","")),
            net_profit_ann_cr = lambda df_ : pd.to_numeric(df_['net profit ann.'].str.replace(",","")),
            roce_ann_percent = lambda df_ : pd.to_numeric(df_['roce ann. %'].str.replace(",","").str.replace("%","")),
            roe_ann_percent = lambda df_ : pd.to_numeric(df_['roe ann. %'].str.replace(",","").str.replace("%","")),
            total_debt_to_total_equity_ann = lambda df_ : pd.to_numeric(df_['total debt to total equity ann.'].str.replace(",","")),
        )
        .drop(["cash from operating act. ann.","ebitda ann.","eps adj. latest ann.","npm ann. %","net profit ann.","roce ann. %",
            "roe ann. %","total debt to total equity ann.","total rev. ann."
        ],axis=1)
    )

Data_cleaning(trans_df)

Indicator,company,year,liquidity ratio,valuation ratio,cash_from_operating_act_ann_cr,ebitda_ann_cr,eps_adj_latest_ann,npm_ann_percent,net_profit_ann_cr,roce_ann_percent,roe_ann_percent,total_debt_to_total_equity_ann
0,3B Films,2015-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3B Films,2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3B Films,2017-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3B Films,2018-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3B Films,2019-03-01,NaN,NaN,NaN,NaN,-0.4,-2.09,-1.0,5.59,-11.73,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...
10905,ideaForge Technology,2020-03-01,NaN,NaN,-17.1,-10.9,-3.1,-96.04,-13.5,-18.98,-19.78,0.1
10906,ideaForge Technology,2021-03-01,NaN,NaN,-31.7,-10.2,-3.3,-40.89,-14.3,-13.38,-23.66,0.7
10907,ideaForge Technology,2022-03-01,NaN,NaN,66.5,75.1,10.2,27.60,44.0,38.73,39.86,0.1
10908,ideaForge Technology,2023-03-01,NaN,NaN,-53.2,57.5,7.4,17.19,32.0,13.48,9.85,0.3
10909,ideaForge Technology,2024-03-01,NaN,NaN,76.0,85.9,10.5,14.41,45.3,9.60,6.85,NaN

In [305]:
cleaned_df = Data_cleaning(trans_df)

Mujeh karna kya hai jo company jab launch hui thi uske pichle 3 saal ka hi data chahiye agar ho to nikal lenge nahi to vaise hi chod denge

In [307]:
cleaned_df.shape

(10910, 12)

In [308]:
pd.set_option('future.no_silent_downcasting', True)
merged_df = cleaned_df.merge(primary_df,right_on='Company',left_on='company').assign(
    listing_date = lambda df_ : pd.to_datetime(df_['Listing date'].str.replace(" ",'').str.replace("`","")),
    year_when_launch = lambda df_ : df_['listing_date'].dt.year,
    fy_year = lambda df_ : df_['year'].dt.year,
    since_launched = lambda df_ : (df_['year_when_launch'] - df_['fy_year'])
)
# merged_df[merged_df["company"] == "3B Films"]
df = merged_df[(merged_df['since_launched'] <= 3) & (merged_df['since_launched'] >= 0)]

C:\Users\Aniket\AppData\Local\Temp\ipykernel_6040\711876946.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  listing_date = lambda df_ : pd.to_datetime(df_['Listing date'].str.replace(" ",'').str.replace("`","")),

In [309]:
df = df.drop(['Unnamed: 0','Company', 'LTP', 'Market Cap(in CR)', 'Listing date', 'Issue size',
       'Issue price', 'QIB subscription', 'HNI subscription',
       'Retail subscription', 'Total subscription', 'Listing open',
       'Listing close', 'Listing gain', 'Current gain', 'Issue type',
       'listing_date', 'year_when_launch', 'fy_year','since_launched'],axis=1)

In [310]:
for i in df.columns:
    print(f"{i} --> {(df[i].isnull().sum()/df[i].shape[0])*100}")

company --> 0.0
year --> 0.0
liquidity ratio --> 100.0
valuation ratio --> 100.0
cash_from_operating_act_ann_cr --> 13.187103594080337
ebitda_ann_cr --> 17.547568710359407
eps_adj_latest_ann --> 11.442917547568712
npm_ann_percent --> 10.14799154334038
net_profit_ann_cr --> 10.887949260042284
roce_ann_percent --> 9.328752642706132
roe_ann_percent --> 10.96723044397463
total_debt_to_total_equity_ann --> 18.76321353065539

In [311]:
for i in df.columns:

    if (df[i].isnull().sum()/df[i].shape[0])*100 > 30.00 :
        df = df.drop(i,axis=1)
        print(f'{i} --> dropped')

liquidity ratio --> dropped
valuation ratio --> dropped

In [312]:
# df.head()
df["launched"] = merged_df['since_launched']

In [313]:
df

,company,year,cash_from_operating_act_ann_cr,ebitda_ann_cr,eps_adj_latest_ann,npm_ann_percent,net_profit_ann_cr,roce_ann_percent,roe_ann_percent,total_debt_to_total_equity_ann,launched
7,3B Films,2022-03-01,-3.2,NaN,-0.1,-0.51,-0.3,5.68,-1.34,3.9,3
8,3B Films,2023-03-01,3.3,NaN,0.3,1.27,0.9,8.61,3.44,3.7,2
9,3B Films,2024-03-01,1.6,NaN,1.5,5.66,4.3,12.06,13.87,3.5,1
16,3C IT Sol & Telecom,2021-03-01,1.2,2.0,1.4,2.11,0.9,36.00,57.38,2.7,3
17,3C IT Sol & Telecom,2022-03-01,-6.0,2.9,1.8,1.65,1.1,21.59,42.54,4.0,2
...,...,...,...,...,...,...,...,...,...,...,...
9807,eMudhra,2022-03-01,34.7,54.8,3.6,19.62,30.0,27.33,23.73,0.3,0
9815,ideaForge Technology,2020-03-01,-17.1,-10.9,-3.1,-96.04,-13.5,-18.98,-19.78,0.1,3
9816,ideaForge Technology,2021-03-01,-31.7,-10.2,-3.3,-40.89,-14.3,-13.38,-23.66,0.7,2
9817,ideaForge Technology,2022-03-01,66.5,75.1,10.2,27.60,44.0,38.73,39.86,0.1,1
9818,ideaForge Technology,2023-03-01,-53.2,57.5,7.4,17.19,32.0,13.48,9.85,0.3,0

In [314]:
df = df[(df['launched'] > 0)&(df['launched'] <= 3)]
df['company'].nunique()

982

In [315]:
counter = 0
for com in df.company.unique():
    if df[df['company'] == com].shape[0] != 3:
        # print(df[df['company'] == com]['launched'])
        counter += 1

counter

0

In [316]:
# for i in df.company.unique():
#     temp_df = df[df['company'] == i]
#     temp = temp_df[temp_df['cash_from_operating_act_ann_cr'] == 0]
    # print(temp_df)
    # break

In [317]:
df.head(1).T

                                                  7
company                                    3B Films
year                            2022-03-01 00:00:00
cash_from_operating_act_ann_cr                 -3.2
ebitda_ann_cr                                   NaN
eps_adj_latest_ann                             -0.1
npm_ann_percent                               -0.51
net_profit_ann_cr                              -0.3
roce_ann_percent                               5.68
roe_ann_percent                               -1.34
total_debt_to_total_equity_ann                  3.9
launched                                          3

In [318]:
# df['relative_year'] = df.groupby('company').cumcount() + 1

# value_cols = [
#     'cash_from_operating_act_ann_cr', 'ebitda_ann_cr', 'eps_adj_latest_ann',
#     'npm_ann_percent', 'net_profit_ann_cr', 'roce_ann_percent',
#     'roe_ann_percent', 'total_debt_to_total_equity_ann'
# ]

# final_df = df.pivot_table(
#     index=['company'],
#     columns='relative_year',
#     values=value_cols,
#     aggfunc='first'
# )

# final_df.columns = [f'{col[0]}_{col[1]}' for col in final_df.columns]

# final_df = final_df.reset_index()

# print("\nTransformed DataFrame (wide format):\n")
# print(final_df)

# print("\nData types of a few transformed columns:\n")
# print(final_df[['total_debt_to_total_equity_ann_1', 'total_debt_to_total_equity_ann_2', 'total_debt_to_total_equity_ann_3']].dtypes)

In [319]:
df.head()

,company,year,cash_from_operating_act_ann_cr,ebitda_ann_cr,eps_adj_latest_ann,npm_ann_percent,net_profit_ann_cr,roce_ann_percent,roe_ann_percent,total_debt_to_total_equity_ann,launched
7,3B Films,2022-03-01,-3.2,NaN,-0.1,-0.51,-0.3,5.68,-1.34,3.9,3
8,3B Films,2023-03-01,3.3,NaN,0.3,1.27,0.9,8.61,3.44,3.7,2
9,3B Films,2024-03-01,1.6,NaN,1.5,5.66,4.3,12.06,13.87,3.5,1
16,3C IT Sol & Telecom,2021-03-01,1.2,2.0,1.4,2.11,0.9,36.00,57.38,2.7,3
17,3C IT Sol & Telecom,2022-03-01,-6.0,2.9,1.8,1.65,1.1,21.59,42.54,4.0,2

In [320]:
# print(df_pivoted.columns)
# print(80*"=")
# print(final_df.columns)

In [321]:
# final_df

In [322]:
df = df.drop('launched',axis=1)

In [323]:
all_companies_transform_data = []
for comp in df.company.unique():
    all_companies_transform_data.append(df[df['company'] == comp].pivot(index=['company'],columns=['year']))

In [324]:
all_companies_transform_data[0].T

company                                    3B Films
                               year
cash_from_operating_act_ann_cr 2022-03-01     -3.20
                               2023-03-01      3.30
                               2024-03-01      1.60
ebitda_ann_cr                  2022-03-01       NaN
                               2023-03-01       NaN
                               2024-03-01       NaN
eps_adj_latest_ann             2022-03-01     -0.10
                               2023-03-01      0.30
                               2024-03-01      1.50
npm_ann_percent                2022-03-01     -0.51
                               2023-03-01      1.27
                               2024-03-01      5.66
net_profit_ann_cr              2022-03-01     -0.30
                               2023-03-01      0.90
                               2024-03-01      4.30
roce_ann_percent               2022-03-01      5.68
                               2023-03-01      8.61
                               2024-03-01     12.06
roe_ann_percent                2022-03-01     -1.34
                               2023-03-01      3.44
                               2024-03-01     13.87
total_debt_to_total_equity_ann 2022-03-01      3.90
                               2023-03-01      3.70
                               2024-03-01      3.50

In [325]:
total = 0
for i in range(df.company.nunique()):
    new_columns = set()
    for j in all_companies_transform_data[i].columns:
        # Count all second-level column names
        second_level_counts = Counter(col[0] for col in all_companies_transform_data[i].columns)
        if j[0] == 'company':
            new_columns.append(str(j).replace(", ","_").replace("'",''))
            continue
        else:
            # count = sum(col[0] == j[0] for col in all_companies_transform_data[0].columns)
            
            # Get count of 'Total Revenue'
            count = second_level_counts[j[0]]
            for indi_count in range(1,count+1):
                new_columns.add(str(j[0].replace("'","")) + "_" +str(indi_count))  
    # break
    sorted_new_columns = sorted(list(new_columns))
    all_companies_transform_data[i].columns = [sorted_new_columns[col] for col in range(len(all_companies_transform_data[i].columns))]
    total += 1
    # break

In [326]:
# new_columns

In [327]:
# sorted_new_columns

In [328]:
# all_companies_transform_data[0]#.head().T[:45]

In [329]:
final_df = pd.concat(all_companies_transform_data,axis=0)
final_df.shape

(982, 24)

In [330]:
final_df = final_df.T
final_df.head(1)

company,3B Films,3C IT Sol & Telecom,A G Universal,AA Plus Tradelink,AAA Technologies,AB Cotspin,AB Infrabuild,ABS Marine Services,ACME Solar Holdings Ltd.,AGS Transact Tech,...,Yudiz Solutions,Z-Tech,Zaggle Prepaid Ocean,Zeal Global Services,Zenith Drugs,Zinka Logistics Solutions Ltd.,Zomato,delaPlex,eMudhra,ideaForge Technology
cash_from_operating_act_ann_cr_1,-3.2,1.2,2.0,-1.1,NaN,7.6,10.6,NaN,1746.0,332.1,...,0.1,-0.8,NaN,9.0,0.8,-32.2,-61.7,0.6,15.3,-17.1

In [331]:
for i in final_df.columns:
    print(f"{i} --> {final_df[i].isnull().sum()/final_df.shape[0]*100}")
    # if (final_df[i].isnull().sum()/final_df.shape[0])*100 >= 30:
    #     final_df = final_df.drop(i,axis=1)
    #     print(f"{i} --> Dropped")

3B Films --> 12.5
3C IT Sol & Telecom --> 0.0
A G Universal --> 0.0
AA Plus Tradelink --> 12.5
AAA Technologies --> 4.166666666666666
AB Cotspin --> 0.0
AB Infrabuild --> 0.0
ABS Marine Services --> 33.33333333333333
ACME Solar Holdings Ltd. --> 0.0
AGS Transact Tech --> 0.0
AJC Jewel Manufacturers --> 12.5
AMIC Forging --> 16.666666666666664
ASK Automotive --> 100.0
ATC Energies System --> 12.5
AVP Infracon --> 0.0
Aakaar Medical Technologies --> 33.33333333333333
Aartech Solonics --> 8.333333333333332
Aashka Hospitals --> 33.33333333333333
Aatmaj Healthcare --> 4.166666666666666
Abans Holdings --> 12.5
Abha Power and Steel Ltd. --> 33.33333333333333
Abhishek Integrations --> 45.83333333333333
Abram Food --> 4.166666666666666
AccelerateBS --> 4.166666666666666
Accent Microcell --> 33.33333333333333
Accretion Pharmaceuticals --> 12.5
Ace Alpha Tech --> 25.0
Achyut Healthcare --> 25.0
Active Infrastructures --> 12.5
Adani Wilmar --> 0.0
Adcounty Media --> 20.833333333333336
Addictive Learning --> 20.833333333333336
Adeshwar Meditex --> 0.0
Adishakti Loha & Ispat --> 33.33333333333333
Aditya Birla Sun Life AMC --> 12.5
Aditya Ultra Steel Ltd. --> 33.33333333333333
Adjia Technologies --> 50.0
Advait Infratech --> 0.0
Aegis Vopak Terminals --> 12.5
Aelea Commodities --> 8.333333333333332
Aeroflex Industries --> 0.0
Aeron Composite --> 0.0
Aesthetik Engineers --> 4.166666666666666
Aether Industries --> 0.0
Afcom Holdings --> 8.333333333333332
Afcons Infrastructure Ltd. --> 0.0
Affle --> 4.166666666666666
Agarwal Float Glass --> 0.0
Agarwal Toughened Glass India Ltd. --> 33.33333333333333
Agni Green Power --> 0.0
Ahasolar Tech --> 0.0
Aimtron Electronics --> 0.0
Ajax Engineering --> 0.0
Akanksha Power --> 0.0
Akme Fintrade --> 16.666666666666664
Akums Drugs & Pharma --> 33.33333333333333
Alivus Life Sciences --> 16.666666666666664
Alkosign --> 66.66666666666666
All e Technologies --> 100.0
Allied Blenders --> 16.666666666666664
Alpex Solar --> 0.0
Alphalogic Techsys --> 41.66666666666667
Aluwind Architectural --> 0.0
Amanaya Ventures --> 12.5
Ambey Laboratories --> 0.0
Ambo Agritec --> 33.33333333333333
Ameya Precision Engineers --> 0.0
Ami Organics --> 0.0
Amiable Logistic --> 4.166666666666666
Amkay Products --> 0.0
Amwill Health Care --> 16.666666666666664
Anand Rathi Wealth --> 4.166666666666666
Anand Rayons --> 0.0
Angel One --> 0.0
Anmol --> 0.0
Annapurna Swadisht --> 58.333333333333336
Anthem Biosciences --> 0.0
Anupam Rasayan --> 0.0
Anuroop Packaging --> 0.0
Anya Polytech Fertilizers --> 0.0
Apeejay Surrendra --> 0.0
Apex Ecotech Ltd. --> 4.166666666666666
Aprameya Engineering --> 0.0
Arabian Petroleum --> 0.0
Arham Technologies --> 33.33333333333333
Arihant Academy --> 33.33333333333333
Arisinfra Solutions --> 8.333333333333332
Aristo Bio-Tech --> 0.0
Arkade Developers Ltd. --> 0.0
Arrowhead Seperation --> 33.33333333333333
Artedz Fabs --> 8.333333333333332
Artemis Electricals --> 0.0
Arunaya Organics --> 12.5
Asarfi Hospital --> 33.33333333333333
Ascensive Educare --> 0.0
Ashapura Logistics --> 0.0
Ashapuri Ornament --> 12.5
Aspire & Innovative --> 0.0
Associated Coaters --> 16.666666666666664
Asston Pharmaceuticals --> 41.66666666666667
Astonea Labs --> 12.5
Atal Realtech --> 33.33333333333333
Atam Valves --> 33.33333333333333
Aten Papers and Foam --> 12.5
Ather Energy --> 0.0
Atmastco --> 0.0
Australian Premium Solar --> 0.0
Avalon Technologies --> 0.0
Avax Apparels and Ornaments Ltd. --> 4.166666666666666
Avi Ansh Textile Ltd. --> 0.0
Awfis Space Solutions --> 12.5
Azad Engineering --> 33.33333333333333
Aztec Fluids & Machinery --> 0.0
B-Right Realestate --> 8.333333333333332
B.R.Goyal Infra --> 0.0
BEW Engineering --> 0.0
BLS E-Services --> 8.333333333333332
Baazar Style Retail --> 0.0
Baba Food Processing --> 33.33333333333333
Bajaj Housing Finance Ltd. --> 0.0
Balaji Phosphates --> 12.5
Barflex Polyfilms --> 25.0
Basilic Fly Studio --> 33.33333333333333
Baweja Studios --> 0.0
Beacon Trusteeship --> 12.5
Beezaasan Explotech --> 12.5
Belrise Industries --> 0.0
Bharat Highways InvIT --> 25.0
Bharti Hexacom --> 0.0
Bhatia Colour Chem --> 100.0
Bikewo Green Tech Ltd. --> 0.0
Billwin Industries --> 8.333333333333332
Bizotic Commercial --> 4.166666666666666
Blue Jet Healthcare --> 4.166666666666666
Blue Pebble --> 0.0
Blue Water Logistics --> 12.5
Bodhi Tree Multimedia --> 8.333333333333332
Bondada Engineering --> 0.0
Bonlon Industries --> 66.66666666666666
Borana Weaves --> 0.0
Boss Packaging Solutions Ltd. --> 4.166666666666666
Brace Port Logistics --> 8.333333333333332
Brainbees Solutions --> 4.166666666666666
Brandbucket Media --> 33.33333333333333
Bright Outdoor Media --> 37.5
Brisk Technovision --> 4.166666666666666
Broach Lifecare Hospital --> 100.0
Bulkcorp Intl --> 0.0
C.E. Info Systems --> 12.5
C2C Advanced Systems Ltd. --> 8.333333333333332
CLN Energy Ltd. --> 25.0
CMS Info Systems --> 12.5
CPS Shapers --> 4.166666666666666
CSB Bank --> 0.0
CWD --> 37.5
Campus Activewear --> 0.0
Canarys Automations --> 8.333333333333332
Capital Infra Trust --> 0.0
CapitalNumbers Infotech Ltd. --> 16.666666666666664
CarTrade Tech --> 8.333333333333332
Cargosol Logistics --> 0.0
Cargotrans Maritime --> 8.333333333333332
Carraro India Ltd. --> 33.33333333333333
Cedaar Textile --> 12.5
Ceigall --> 33.33333333333333
Cell Point --> 0.0
Cellecor Gadgets --> 50.0
Cello World --> 33.33333333333333
Chalet Hotels --> 0.0
Chaman Metallics --> 0.0
Chamunda Electrical --> 0.0
Chandan Healthcare --> 12.5
Chandra Bhagat Pharma --> 0.0
Chatha Foods --> 0.0
Chavda Infra --> 33.33333333333333
Chemkart --> 4.166666666666666
Chemplast Sanmar --> 33.33333333333333
Chetana Education --> 0.0
Cian Healthcare --> 4.166666666666666
Citichem India Ltd. --> 0.0
City Crops Agro --> 33.33333333333333
City Pulse Multiplex --> 33.33333333333333
Clara Industries --> 100.0
Clinitech Laboratory --> 0.0
Command Polymers --> 0.0
Committed Cargo Care --> 4.166666666666666
Computer Age Mgmt --> 12.5
Comrade Appliances --> 33.33333333333333
Concord Biotech --> 66.66666666666666
Concord Enviro Systems Ltd. --> 33.33333333333333
Containe Tech --> 33.33333333333333
Cool Caps Industries --> 0.0
Cosmic CRF --> 70.83333333333334
Cospower Engineering --> 0.0
Craftsman Automation --> 0.0
Crayons Advertising --> 4.166666666666666
Crizac --> 12.5
Crop Life Science --> 0.0
Cryogenic OGS --> 50.0
Cyber Media Research --> 0.0
Cyient DLM --> 0.0
DAPS Advertising --> 33.33333333333333
DC Infotech and Comms --> 33.33333333333333
DCG Cables & Wires --> 0.0
DCX Systems --> 0.0
DEE Development --> 4.166666666666666
DJ Mediaprint & Logistics --> 0.0
DMR Hydroengineering --> 16.666666666666664
DOMS Industries --> 33.33333333333333
DU Digital Global --> 0.0
Dam Capital Advisors Ltd. --> 0.0
Danish Power Ltd. --> 33.33333333333333
Dar Credit Capital --> 20.833333333333336
Data Patterns --> 0.0
Davin Sons Retail Ltd. --> 33.33333333333333
De Neers Tools --> 100.0
Deccan Transcon Leasing Ltd. --> 4.166666666666666
Deem Roll-Tech --> 0.0
Deepak Builders & Engineers India Ltd. --> 66.66666666666666
Deepak Chemtex --> 50.0
Delhivery --> 0.0
Delta Autocorp --> 12.5
Denta Water and Infra --> 4.166666666666666
Desco Infratech --> 12.5
Destiny Logistics & Infra --> 33.33333333333333
Dev Labtech Venture --> 12.5
Devyani Intl --> 33.33333333333333
Dhanlaxmi Crop Science Ltd. --> 4.166666666666666
Dhariwalcorp --> 33.33333333333333
Dharmaj Crop Guard --> 0.0
Dhyaani Tradeventures --> 4.166666666666666
Diensten Tech --> 4.166666666666666
Diffusion Engineers Ltd. --> 4.166666666666666
Digikore Studios --> 33.33333333333333
Dipna Pharmachem --> 8.333333333333332
Divine Hira Jewellers --> 12.5
Divine Power Energy --> 33.33333333333333
Divyadhan Recycling Industries Ltd. --> 4.166666666666666
Dodla Dairy --> 0.0
Dollex Agrotech --> 25.0
Dr Agarwals Health Care --> 0.0
Dreamfolks Services --> 0.0
Drone Destination --> 33.33333333333333
Droneacharya Aerial --> 45.83333333333333
Ducol Organics & Colours --> 0.0
Durlax Top Surface --> 33.33333333333333
E Factor Experiences --> 0.0
EKI Energy Services --> 0.0
EMA Partners India Ltd. --> 12.5
EMS --> 0.0
EP Biocomposites --> 37.5
EPACK Durables --> 0.0
ESAF Small Finance --> 0.0
Earthstahl & Alloys --> 0.0
Easy Trip Planners --> 16.666666666666664
Effwa Infra & Research --> 33.33333333333333
Eighty Jewellers --> 0.0
Ekennis Software --> 33.33333333333333
Electro Force --> 66.66666666666666
Electronics Mart --> 0.0
Eleganz Interiors --> 12.5
Elin Electronics --> 0.0
Ellenbarrie Industrial Gases --> 33.33333333333333
Embassy Office Parks REIT --> 100.0
Emcure Pharma --> 0.0
Emerald Tyre Manufacturers Ltd. --> 33.33333333333333
Emmforce Autotech --> 0.0
Enfuse Solutions --> 4.166666666666666
Enser Communications --> 0.0
Enviro Infra Engineers Ltd. --> 0.0
Envirotech Systems Ltd. --> 33.33333333333333
Eppeltone Engineers --> 12.5
Equitas Small Finance Bank --> 0.0
Esconet Technologies --> 0.0
Esprit Stones --> 0.0
Ethos --> 4.166666666666666
Euphoria Infotech --> 0.0
Euro Panel Products --> 0.0
Evans Electric --> 4.166666666666666
Evoq Remedies --> 20.833333333333336
Exhicon Events Media --> 0.0
Exicom Tele-Systems --> 0.0
Exxaro Tiles --> 16.666666666666664
Faalcon Concepts --> 0.0
Fabino Enterprises --> 12.5
Fabtech Technologies Cleanrooms Ltd. --> 0.0
Falcon Technoprojects --> 0.0
Fidel Softech --> 0.0
Finelistings Tech --> 4.166666666666666
Fino Payments Bank --> 33.33333333333333
Five-Star Business Finance --> 0.0
Flair Writing --> 0.0
Foce --> 4.166666666666666
Fone4 Communications --> 4.166666666666666
Fonebox Retail --> 4.166666666666666
Forcas Studio --> 0.0
Forge Auto International Ltd. --> 0.0
Freshara Agro Exports Ltd. --> 33.33333333333333
Frog Cellsat --> 33.33333333333333
Fusion Micro Finance --> 0.0
G M Polyplast --> 50.0
G R Infraprojects --> 0.0
GB Logistics Commerce Ltd. --> 12.5
GEM Enviro Mgmt --> 12.5
GKP Printing --> 0.0
GLEN Industries --> 12.5
GP Eco Solutions --> 0.0
GPT Healthcare --> 0.0
GSM Foils --> 4.166666666666666
Gabriel Pet Straps --> 29.166666666666668
Gajanand International Ltd. --> 33.33333333333333
Gala Precision --> 0.0
Gandhar Oil Refinery --> 0.0
Ganesh Green Bharat --> 0.0
Ganesh Infraworld Ltd. --> 33.33333333333333
Ganga Bath Fittings --> 16.666666666666664
Garuda Construction and Engineering Ltd. --> 4.166666666666666
Gayatri Rubbers --> 0.0
Gensol Engineering --> 100.0
Getalong Enterprises --> 100.0
Gian Life Care --> 66.66666666666666
Gland Pharma --> 12.5
Gleam Fabmat --> 100.0
Global Health --> 0.0
Global Longlife Hospital --> 0.0
Global Surfaces --> 0.0
Globe Civil Projects --> 0.0
Globesecure Tech --> 0.0
Go Fashion --> 0.0
Goblin --> 0.0
Godavari Biorefineries Ltd. --> 0.0
Goel Food Products --> 8.333333333333332
Goldkart Jewels --> 0.0
Gopal Snacks --> 0.0
Goyal Salt --> 0.0
Grand Continent Hotels --> 16.666666666666664
Graphisads --> 50.0
Greenchef Appliances --> 0.0
Greenhitech Ventures --> 0.0
Gretex Corporate --> 0.0
Grill Splendour Services --> 4.166666666666666
H.M. Electro Mech --> 12.5
HDB Financial Services --> 0.0
HMA Agro Industries --> 0.0
HOAC Foods --> 0.0
HP Adhesives --> 66.66666666666666
HP Telecom --> 12.5
HRH Next Services --> 12.5
HVAX Technologies Ltd. --> 0.0
Hamps Bio Ltd. --> 4.166666666666666
Happy Forgings --> 0.0
Happy Square Outsourcing --> 12.5
Harsha Engineers --> 33.33333333333333
Harshdeep Hortico --> 91.66666666666666
Healthy Life Agritec --> 58.333333333333336
Heranba Industries --> 0.0
Hexaware Technologies --> 100.0
Hi-Green Carbon --> 33.33333333333333
Hindprakash Industries --> 0.0
Holmarc Opto-Mechatronics --> 33.33333333333333
Homesfy Realty --> 8.333333333333332
Honasa Consumer --> 41.66666666666667
Humming Bird Edu --> 8.333333333333332
Hyundai Motor India Ltd. --> 0.0
IBL Finance --> 8.333333333333332
IKIO Lighting --> 0.0
IRFC --> 0.0
IRM Energy --> 0.0
ITCONS E-Solutions --> 0.0
Icon Facilitators --> 16.666666666666664
Identical Brains Studios Ltd. --> 16.666666666666664
Identixweb --> 12.5
Indegene --> 4.166666666666666
India Pesticides --> 33.33333333333333
IndiaMART InterMESH --> 20.833333333333336
Indian Emulsifiers --> 16.666666666666664
Indian Phosphate Ltd. --> 0.0
Indian Railway Catering --> 12.5
Indian Renewable --> 0.0
Indifra --> 8.333333333333332
Indigo Paints --> 0.0
Indo Farm Equipment --> 0.0
Indobell Insulation Ltd. --> 12.5
Indogulf Cropsciences --> 0.0
Indong Tea Company --> 4.166666666666666
Infinium Pharmachem --> 12.5
Influx Healthtech --> 0.0
Infonative Solutions --> 12.5
Innokaiz --> 0.0
Innomet Advanced Materials Ltd. --> 0.0
Innova Captab --> 0.0
Innovatus Entertainment --> 4.166666666666666
Inox --> 0.0
Insolation Energy --> 0.0
Inspire Films --> 33.33333333333333
Integrated Personnel --> 0.0
Integrity Infrabuild --> 12.5
Interarch Building --> 33.33333333333333
Interiors & More --> 0.0
International Gemmological Institute India Ltd. --> 41.66666666666667
Inventurus Knowledge Solutions Ltd. --> 12.5
Ishan International --> 0.0
Italian Edibles --> 0.0
Iware Supplychain Services --> 41.66666666666667
J G Chemicals --> 0.0
JFL Life Sciences --> 0.0
JNK --> 0.0
JSW Infrastructure --> 0.0
Jainik Power Cables --> 41.66666666666667
Jana Small Finance --> 0.0
Janus Corporation --> 0.0
Jay Bee Laminations Ltd. --> 0.0
Jay Jalaram Tech --> 0.0
Jay Kailash Namkeen --> 0.0
Jayant Infratech --> 0.0
Jeena Sikho Lifecare --> 8.333333333333332
Jetmall Spices --> 0.0
Jeyyam Global Foods Ltd. --> 0.0
Jinaams Dress --> 0.0
Jiwanram Sheoduttrai --> 0.0
Jonjua Overseas --> 0.0
Jungle Camps India Ltd. --> 0.0
Juniper Hotels --> 0.0
Jyoti CNC Automation --> 0.0
K2 Infragen --> 0.0
KCK Industries --> 0.0
KFIN Technologies --> 33.33333333333333
KK Shah Hospitals --> 100.0
KN Agri Resources --> 33.33333333333333
KP Green Engineering --> 0.0
KRN Heat Exchanger and Refrigeration Ltd. --> 0.0
Kabra Jewels --> 12.5
Kahan Packaging --> 0.0
Kaka Industries --> 33.33333333333333
Kalahridhaan Trendz --> 0.0
Kalana Ispat Ltd. --> 0.0
Kalpataru --> 0.0
Kalyan Jewellers --> 0.0
Kalyani Cast-Tech --> 66.66666666666666
Karnika Industries --> 33.33333333333333
Kataria Industries --> 0.0
Kaushalya Logistics --> 0.0
Kaynes Technology --> 33.33333333333333
Ken Enterprises --> 16.666666666666664
Kenrik Industries --> 0.0
Kesar --> 8.333333333333332
Keystone Realtors --> 0.0
Khazanchi Jewellers --> 0.0
Khyati Global Ventures Ltd. --> 33.33333333333333
Kizi Apparels --> 33.33333333333333
Knowledge Marine Engg --> 4.166666666666666
Kody Technolab --> 37.5
Konstelec Engineers --> 0.0
Kontor Space --> 0.0
Kore Digital --> 4.166666666666666
Kotyark Industries --> 33.33333333333333
Koura Fine Jewelry --> 66.66666666666666
Kranti Industries --> 0.0
Krishival Foods --> 0.0
Krishna Defence & Allied --> 0.0
Kronox Lab Sciences --> 8.333333333333332
Kross Ltd. --> 66.66666666666666
Krsnaa Diagnostics --> 0.0
Ksolves --> 41.66666666666667
Kundan Edifice --> 0.0
LE Travenues Tech --> 4.166666666666666
LK Mehta Polymers --> 12.5
Labelkraft Tech --> 100.0
Lakshya Powertech Ltd. --> 4.166666666666666
Lamosaic India Ltd. --> 33.33333333333333
Landmark Cars --> 33.33333333333333
Landmark Immigration Consultants Ltd. --> 12.5
Latent View Analytics --> 12.5
Laxmi Dental --> 0.0
Laxmi Goldorna House --> 4.166666666666666
Laxmi Organic Ind --> 0.0
Le Merite Exports --> 0.0
Lead Reclaim & Rubber --> 0.0
Leo Dryfruits & Spices Trading Ltd. --> 0.0
Life Insurance Corp --> 12.5
Likhitha Infra --> 0.0
Lloyds Luxuries --> 41.66666666666667
Logica Infoway --> 0.0
MCON Rasayan --> 0.0
MOS Utility --> 0.0
MRP Agro --> 37.5
MSTC --> 0.0
MTAR Technologies --> 0.0
Maagh Advertising --> 12.5
Macfos --> 0.0
Mach Conferences and Events Ltd. --> 8.333333333333332
Macobs Technologies --> 4.166666666666666
Macrotech Developers --> 0.0
Madhusudan Masala --> 33.33333333333333
Mafia Trends --> 4.166666666666666
Magenta Lifecare --> 0.0
Mahip Industries --> 0.0
Maiden Forgings --> 66.66666666666666
Maitreya Medicare --> 4.166666666666666
Maks Energy Solutions --> 0.0
Malpani Pipes And Fittings Ltd. --> 12.5
Mamata Machinery Ltd. --> 33.33333333333333
Manba Finance Ltd. --> 66.66666666666666
Mangal Compusolution Ltd. --> 4.166666666666666
Mangalam Alloys --> 100.0
Manglam Infra --> 33.33333333333333
Mankind Pharma --> 4.166666666666666
Manoj Ceramic --> 0.0
Manoj Jewellers --> 12.5
Manoj Vaibhav Gems N --> 33.33333333333333
Marc Loire Fashions --> 20.833333333333336
Marco Cables & Conductors --> 33.33333333333333
Marinetrans --> 0.0
Markolines Pavement --> 0.0
Maruti Interior Products --> 0.0
Mason Infratech --> 0.0
Master Components --> 33.33333333333333
Maxposure --> 0.0
Maxvolt Energy Industries --> 0.0
Mayank Cattle Food --> 0.0
Mayasheel Ventures --> 41.66666666666667
Mazagon Dock Shipbuilders --> 12.5
Medi Assist Healthcare --> 12.5
Medicamen Organics --> 33.33333333333333
Medplus Health --> 12.5
Mega Flex Plastics --> 0.0
Megatherm Induction --> 0.0
Meson Valves --> 33.33333333333333
Meta Infotech --> 0.0
Metro Brands --> 12.5
Metropolis Healthcare --> 12.5
Mindpool Tech --> 66.66666666666666
Mindspace REIT --> 100.0
Mish Designs --> 4.166666666666666
Misquita Engineering --> 33.33333333333333
Modis Navnirman --> 33.33333333333333
Monika Alcobev --> 41.66666666666667
Mono Pharmacare --> 0.0
Monolithisch India --> 12.5
Motisons Jewellers --> 33.33333333333333
Moving Media Entertainment --> 33.33333333333333
Moxsh Overseas Educon --> 45.83333333333333
Mrs. Bectors Food --> 0.0
Mukka Proteins --> 0.0
Murae Organisor --> 16.666666666666664
Muthoot Microfin --> 0.0
My Mudra Fincorp --> 33.33333333333333
N R Vandana Tex Industries --> 12.5
NACDAC Infrastructure Ltd. --> 0.0
NAPS Global --> 16.666666666666664
NTPC Green Energy Ltd. --> 66.66666666666666
Naapbooks --> 0.0
Naman In-Store --> 0.0
Namo eWaste Management Ltd. --> 33.33333333333333
Nanavati Ventures --> 29.166666666666668
Naturewings Holidays Ltd. --> 4.166666666666666
Naturo bull --> 33.33333333333333
Navoday Enterprises --> 12.5
Nazara Technologies --> 12.5
Neelam Linens and Garments (India) Ltd. --> 0.0
Neetu Yoshi --> 16.666666666666664
Neogen Chemicals --> 0.0
Neopolitan Pizza --> 33.33333333333333
Nephro Care --> 0.0
Neptune Petrochemicals --> 8.333333333333332
Net Avenue Tech --> 33.33333333333333
Netweb Technologies --> 33.33333333333333
Network People --> 41.66666666666667
New Swan Multitech --> 0.0
Newjaisa Tech --> 33.33333333333333
Newmalayalam Steel Ltd. --> 66.66666666666666
Nexxus Petro Industries Ltd. --> 33.33333333333333
Nidan Laboratories --> 0.0
Nikita Papers --> 12.5
Niks Technology --> 4.166666666666666
Nirman Agri Genetics --> 33.33333333333333
Nirmitee Robotics --> 0.0
Nisus Finance Services Co Ltd. --> 33.33333333333333
Niva Bupa Health Insurance Company Ltd. --> 8.333333333333332
Northern Arc Capital --> 0.0
Northern Spirits --> 0.0
Nova Agritech --> 0.0
Novateor Research --> 45.83333333333333
Nukleus Office Solutions --> 16.666666666666664
Nupur Recyclers --> 41.66666666666667
Nureca --> 8.333333333333332
Nuvoco Vistas --> 33.33333333333333
OBSC Perfection Ltd. --> 0.0
Olatech Solutions --> 12.5
Omfurn --> 0.0
Omnipotent Industries --> 54.166666666666664
On Door Concepts --> 70.83333333333334
One MobiKwik Systems Ltd. --> 4.166666666666666
One97 Communications --> 0.0
Oneclick Logistics --> 100.0
Onyx Biotec Ltd. --> 33.33333333333333
Organic Recycling --> 0.0
Oriana Power --> 0.0
Orient Technologies --> 0.0
Osel Devcies Ltd. --> 33.33333333333333
Osia Hyper Retail --> 0.0
Oswal Pumps --> 0.0
Owais Metal & Mineral --> 79.16666666666666
P E Analytics --> 12.5
P N Gadgil Jewellers Ltd. --> 0.0
P S Raj Steels --> 0.0
PB Fintech --> 12.5
PDP Shipping & Projects --> 12.5
PNGS Gargi Jewellery --> 70.83333333333334
PRO FX Tech --> 41.66666666666667
Pace E-Commerce --> 45.83333333333333
Par Drugs & Chemicals --> 0.0
Paradeep Parivahan --> 41.66666666666667
Paradeep Phosphates --> 33.33333333333333
Paragon Fine & Speciality --> 33.33333333333333
Paramatrix Tech --> 8.333333333333332
Paramount Dye Tec Ltd. --> 0.0

In [332]:
null_df = final_df.copy()

In [333]:
final_df.iloc[:,2].iloc[0:3]

cash_from_operating_act_ann_cr_1    2.0
cash_from_operating_act_ann_cr_2    1.9
cash_from_operating_act_ann_cr_3    1.4
Name: A G Universal, dtype: float64

In [334]:
no_of_null_value = 0
for i in final_df.columns:
    if (final_df[i].isnull().sum()/final_df.shape[0])*100 >= 5:
        no_of_null_value += 1
    # print(f"{i} --> {final_df[i].isnull().sum()/final_df.shape[0]*100}")
print(no_of_null_value)

469

In [335]:
final_df

company,3B Films,3C IT Sol & Telecom,A G Universal,AA Plus Tradelink,AAA Technologies,AB Cotspin,AB Infrabuild,ABS Marine Services,ACME Solar Holdings Ltd.,AGS Transact Tech,...,Yudiz Solutions,Z-Tech,Zaggle Prepaid Ocean,Zeal Global Services,Zenith Drugs,Zinka Logistics Solutions Ltd.,Zomato,delaPlex,eMudhra,ideaForge Technology
cash_from_operating_act_ann_cr_1,-3.20,1.20,2.00,-1.10,NaN,7.60,10.60,NaN,1746.00,332.10,...,0.10,-0.80,NaN,9.00,0.80,-32.20,-61.70,0.60,15.30,-17.10
cash_from_operating_act_ann_cr_2,3.30,-6.00,1.90,0.20,1.00,-7.20,3.70,15.20,955.00,391.00,...,1.10,1.70,NaN,-5.10,5.20,-78.20,-1667.00,2.80,11.20,-31.70
cash_from_operating_act_ann_cr_3,1.60,-2.20,1.40,-1.60,0.90,-0.00,1.70,4.70,1263.50,362.60,...,2.90,0.10,NaN,6.80,-4.40,-119.20,-2073.90,1.40,31.60,66.50
ebitda_ann_cr_1,NaN,2.00,0.90,0.10,0.30,7.70,7.80,NaN,1771.20,230.10,...,0.30,1.20,NaN,2.00,7.10,-177.60,-35.20,5.80,23.20,-10.90
ebitda_ann_cr_2,NaN,2.90,1.10,0.20,1.50,6.10,6.80,31.00,1315.20,429.10,...,1.60,0.50,NaN,2.70,7.80,-197.70,-1690.10,8.60,22.50,-10.20
ebitda_ann_cr_3,NaN,4.20,1.70,0.20,3.10,10.30,9.30,30.30,1239.10,412.30,...,2.30,3.20,NaN,7.50,10.90,-213.10,-2057.30,11.10,28.10,75.10
eps_adj_latest_ann_1,-0.10,1.40,0.10,NaN,0.10,0.90,0.10,NaN,0.30,3.30,...,-0.10,0.50,NaN,1.00,1.80,-13.50,-0.10,4.40,1.20,-3.10
eps_adj_latest_ann_2,0.30,1.80,0.30,NaN,0.80,0.70,0.00,3.30,1.00,7.00,...,0.80,0.10,NaN,1.30,1.80,-15.90,-0.60,6.70,1.40,-3.30
eps_adj_latest_ann_3,1.50,1.90,1.30,0.00,1.60,2.40,0.50,3.90,-0.10,5.50,...,0.70,1.40,NaN,3.90,3.00,-16.20,-2.50,8.70,1.80,10.20
net_profit_ann_cr_1,-0.51,2.11,0.24,0.26,1.09,1.17,0.43,NaN,0.89,2.72,...,-0.61,2.96,NaN,1.74,4.12,-27.85,-21.15,11.15,11.43,-96.04
net_profit_ann_cr_2,1.27,1.65,0.38,2.22,9.77,1.22,0.21,11.69,4.16,6.16,...,6.29,0.24,NaN,2.83,3.41,-238.47,-49.21,12.30,11.05,-40.89
net_profit_ann_cr_3,5.66,1.83,1.00,0.85,19.94,3.36,5.19,9.15,-0.24,5.10,...,3.94,7.59,NaN,4.32,4.49,-165.35,-104.91,14.64,13.85,27.60
npm_ann_percent_1,-0.30,0.90,0.10,0.10,0.10,1.40,0.30,NaN,15.20,42.20,...,-0.10,0.70,NaN,1.30,3.00,-241.40,-78.50,4.00,10.30,-13.50
npm_ann_percent_2,0.90,1.10,0.20,0.10,1.00,1.20,0.20,8.10,62.00,89.90,...,0.80,0.10,NaN,1.70,3.10,-284.60,-570.50,6.10,11.40,-14.30
npm_ann_percent_3,4.30,1.10,0.70,0.10,2.10,3.90,3.20,9.50,-3.10,70.10,...,0.70,2.00,NaN,5.20,5.20,-290.50,-2451.20,7.90,15.20,44.00
roce_ann_percent_1,5.68,36.00,13.63,1.59,7.00,13.61,65.56,NaN,10.64,16.65,...,0.79,12.20,NaN,35.67,35.75,-55.62,-3.33,48.01,17.84,-18.98
roce_ann_percent_2,8.61,21.59,13.08,3.56,28.99,7.16,57.89,10.83,7.97,20.37,...,14.23,2.70,NaN,39.15,29.60,-35.51,-52.01,46.68,14.16,-13.38
roce_ann_percent_3,12.06,26.54,20.54,3.65,43.52,20.63,64.82,12.98,6.72,12.85,...,17.60,27.51,NaN,64.38,36.54,-63.83,-91.73,41.88,15.76,38.73
roe_ann_percent_1,-1.34,57.38,2.80,1.06,3.49,7.85,4.14,NaN,1.25,7.78,...,-1.26,8.14,NaN,30.30,33.83,-89.15,-6.30,42.64,14.54,-19.78
roe_ann_percent_2,3.44,42.54,7.68,1.75,20.61,5.97,1.97,9.67,4.92,15.98,...,14.95,1.04,NaN,29.03,25.95,-48.65,-19.24,39.23,13.90,-23.66
roe_ann_percent_3,13.87,27.73,27.09,2.39,30.72,17.75,28.14,10.18,-0.25,11.04,...,11.07,19.69,NaN,49.10,29.88,-82.43,-407.55,33.64,15.77,39.86
total_debt_to_total_equity_ann_1,3.90,2.70,4.50,0.30,0.20,1.90,4.10,NaN,7.80,0.70,...,NaN,0.10,NaN,0.60,1.70,1.20,NaN,NaN,0.30,0.10
total_debt_to_total_equity_ann_2,3.70,4.00,5.00,NaN,0.10,1.50,4.30,0.70,6.00,0.80,...,NaN,0.10,NaN,0.30,1.60,0.30,NaN,NaN,0.40,0.70
total_debt_to_total_equity_ann_3,3.50,3.30,3.60,0.20,0.10,1.50,3.30,0.50,6.90,1.40,...,NaN,0.10,NaN,0.20,1.50,0.50,NaN,NaN,0.30,0.10

In [336]:
for idx in range(len(final_df.columns)):
    col_name = final_df.columns[idx]
    first_counter = 0
    second_counter = 3

    while first_counter < len(final_df):
        # slice rows by position → get their actual labels
        row_labels = final_df.index[first_counter:second_counter]

        if final_df.loc[final_df.index[first_counter] : final_df.index[second_counter-1],col_name].isnull().any():
            # Direct in-place assignment
            filled_values = (
                final_df.loc[row_labels, col_name]
                .bfill()
                .infer_objects(copy=False)
            )
            final_df.loc[row_labels, col_name] = filled_values

        elif final_df.loc[final_df.index[first_counter] : final_df.index[second_counter-1],col_name].isnull().any():
            # Direct in-place assignment
            filled_values = (
                final_df.loc[row_labels, col_name]
                .ffill()
                .infer_objects(copy=False)
            )
            final_df.loc[row_labels, col_name] = filled_values

        first_counter += 3
        second_counter += 3
final_df

company,3B Films,3C IT Sol & Telecom,A G Universal,AA Plus Tradelink,AAA Technologies,AB Cotspin,AB Infrabuild,ABS Marine Services,ACME Solar Holdings Ltd.,AGS Transact Tech,...,Yudiz Solutions,Z-Tech,Zaggle Prepaid Ocean,Zeal Global Services,Zenith Drugs,Zinka Logistics Solutions Ltd.,Zomato,delaPlex,eMudhra,ideaForge Technology
cash_from_operating_act_ann_cr_1,-3.20,1.20,2.00,-1.10,1.00,7.60,10.60,15.20,1746.00,332.10,...,0.10,-0.80,NaN,9.00,0.80,-32.20,-61.70,0.60,15.30,-17.10
cash_from_operating_act_ann_cr_2,3.30,-6.00,1.90,0.20,1.00,-7.20,3.70,15.20,955.00,391.00,...,1.10,1.70,NaN,-5.10,5.20,-78.20,-1667.00,2.80,11.20,-31.70
cash_from_operating_act_ann_cr_3,1.60,-2.20,1.40,-1.60,0.90,-0.00,1.70,4.70,1263.50,362.60,...,2.90,0.10,NaN,6.80,-4.40,-119.20,-2073.90,1.40,31.60,66.50
ebitda_ann_cr_1,NaN,2.00,0.90,0.10,0.30,7.70,7.80,31.00,1771.20,230.10,...,0.30,1.20,NaN,2.00,7.10,-177.60,-35.20,5.80,23.20,-10.90
ebitda_ann_cr_2,NaN,2.90,1.10,0.20,1.50,6.10,6.80,31.00,1315.20,429.10,...,1.60,0.50,NaN,2.70,7.80,-197.70,-1690.10,8.60,22.50,-10.20
ebitda_ann_cr_3,NaN,4.20,1.70,0.20,3.10,10.30,9.30,30.30,1239.10,412.30,...,2.30,3.20,NaN,7.50,10.90,-213.10,-2057.30,11.10,28.10,75.10
eps_adj_latest_ann_1,-0.10,1.40,0.10,0.00,0.10,0.90,0.10,3.30,0.30,3.30,...,-0.10,0.50,NaN,1.00,1.80,-13.50,-0.10,4.40,1.20,-3.10
eps_adj_latest_ann_2,0.30,1.80,0.30,0.00,0.80,0.70,0.00,3.30,1.00,7.00,...,0.80,0.10,NaN,1.30,1.80,-15.90,-0.60,6.70,1.40,-3.30
eps_adj_latest_ann_3,1.50,1.90,1.30,0.00,1.60,2.40,0.50,3.90,-0.10,5.50,...,0.70,1.40,NaN,3.90,3.00,-16.20,-2.50,8.70,1.80,10.20
net_profit_ann_cr_1,-0.51,2.11,0.24,0.26,1.09,1.17,0.43,11.69,0.89,2.72,...,-0.61,2.96,NaN,1.74,4.12,-27.85,-21.15,11.15,11.43,-96.04
net_profit_ann_cr_2,1.27,1.65,0.38,2.22,9.77,1.22,0.21,11.69,4.16,6.16,...,6.29,0.24,NaN,2.83,3.41,-238.47,-49.21,12.30,11.05,-40.89
net_profit_ann_cr_3,5.66,1.83,1.00,0.85,19.94,3.36,5.19,9.15,-0.24,5.10,...,3.94,7.59,NaN,4.32,4.49,-165.35,-104.91,14.64,13.85,27.60
npm_ann_percent_1,-0.30,0.90,0.10,0.10,0.10,1.40,0.30,8.10,15.20,42.20,...,-0.10,0.70,NaN,1.30,3.00,-241.40,-78.50,4.00,10.30,-13.50
npm_ann_percent_2,0.90,1.10,0.20,0.10,1.00,1.20,0.20,8.10,62.00,89.90,...,0.80,0.10,NaN,1.70,3.10,-284.60,-570.50,6.10,11.40,-14.30
npm_ann_percent_3,4.30,1.10,0.70,0.10,2.10,3.90,3.20,9.50,-3.10,70.10,...,0.70,2.00,NaN,5.20,5.20,-290.50,-2451.20,7.90,15.20,44.00
roce_ann_percent_1,5.68,36.00,13.63,1.59,7.00,13.61,65.56,10.83,10.64,16.65,...,0.79,12.20,NaN,35.67,35.75,-55.62,-3.33,48.01,17.84,-18.98
roce_ann_percent_2,8.61,21.59,13.08,3.56,28.99,7.16,57.89,10.83,7.97,20.37,...,14.23,2.70,NaN,39.15,29.60,-35.51,-52.01,46.68,14.16,-13.38
roce_ann_percent_3,12.06,26.54,20.54,3.65,43.52,20.63,64.82,12.98,6.72,12.85,...,17.60,27.51,NaN,64.38,36.54,-63.83,-91.73,41.88,15.76,38.73
roe_ann_percent_1,-1.34,57.38,2.80,1.06,3.49,7.85,4.14,9.67,1.25,7.78,...,-1.26,8.14,NaN,30.30,33.83,-89.15,-6.30,42.64,14.54,-19.78
roe_ann_percent_2,3.44,42.54,7.68,1.75,20.61,5.97,1.97,9.67,4.92,15.98,...,14.95,1.04,NaN,29.03,25.95,-48.65,-19.24,39.23,13.90,-23.66
roe_ann_percent_3,13.87,27.73,27.09,2.39,30.72,17.75,28.14,10.18,-0.25,11.04,...,11.07,19.69,NaN,49.10,29.88,-82.43,-407.55,33.64,15.77,39.86
total_debt_to_total_equity_ann_1,3.90,2.70,4.50,0.30,0.20,1.90,4.10,0.70,7.80,0.70,...,NaN,0.10,NaN,0.60,1.70,1.20,NaN,NaN,0.30,0.10
total_debt_to_total_equity_ann_2,3.70,4.00,5.00,0.20,0.10,1.50,4.30,0.70,6.00,0.80,...,NaN,0.10,NaN,0.30,1.60,0.30,NaN,NaN,0.40,0.70
total_debt_to_total_equity_ann_3,3.50,3.30,3.60,0.20,0.10,1.50,3.30,0.50,6.90,1.40,...,NaN,0.10,NaN,0.20,1.50,0.50,NaN,NaN,0.30,0.10

In [337]:
for idx in range(len(final_df.columns)):
    col_name = final_df.columns[idx]
    first_counter = 0
    second_counter = 3

    while first_counter < len(final_df):
        # slice rows by position → get their actual labels
        row_labels = final_df.index[first_counter:second_counter]
        if final_df.loc[final_df.index[first_counter] : final_df.index[second_counter-1],col_name].isnull().any():
            # Direct in-place assignment
            filled_values = (
                final_df.loc[row_labels, col_name]
                .ffill()
                .infer_objects(copy=False)
            )
            final_df.loc[row_labels, col_name] = filled_values

        first_counter += 3
        second_counter += 3
final_df

company,3B Films,3C IT Sol & Telecom,A G Universal,AA Plus Tradelink,AAA Technologies,AB Cotspin,AB Infrabuild,ABS Marine Services,ACME Solar Holdings Ltd.,AGS Transact Tech,...,Yudiz Solutions,Z-Tech,Zaggle Prepaid Ocean,Zeal Global Services,Zenith Drugs,Zinka Logistics Solutions Ltd.,Zomato,delaPlex,eMudhra,ideaForge Technology
cash_from_operating_act_ann_cr_1,-3.20,1.20,2.00,-1.10,1.00,7.60,10.60,15.20,1746.00,332.10,...,0.10,-0.80,NaN,9.00,0.80,-32.20,-61.70,0.60,15.30,-17.10
cash_from_operating_act_ann_cr_2,3.30,-6.00,1.90,0.20,1.00,-7.20,3.70,15.20,955.00,391.00,...,1.10,1.70,NaN,-5.10,5.20,-78.20,-1667.00,2.80,11.20,-31.70
cash_from_operating_act_ann_cr_3,1.60,-2.20,1.40,-1.60,0.90,-0.00,1.70,4.70,1263.50,362.60,...,2.90,0.10,NaN,6.80,-4.40,-119.20,-2073.90,1.40,31.60,66.50
ebitda_ann_cr_1,NaN,2.00,0.90,0.10,0.30,7.70,7.80,31.00,1771.20,230.10,...,0.30,1.20,NaN,2.00,7.10,-177.60,-35.20,5.80,23.20,-10.90
ebitda_ann_cr_2,NaN,2.90,1.10,0.20,1.50,6.10,6.80,31.00,1315.20,429.10,...,1.60,0.50,NaN,2.70,7.80,-197.70,-1690.10,8.60,22.50,-10.20
ebitda_ann_cr_3,NaN,4.20,1.70,0.20,3.10,10.30,9.30,30.30,1239.10,412.30,...,2.30,3.20,NaN,7.50,10.90,-213.10,-2057.30,11.10,28.10,75.10
eps_adj_latest_ann_1,-0.10,1.40,0.10,0.00,0.10,0.90,0.10,3.30,0.30,3.30,...,-0.10,0.50,NaN,1.00,1.80,-13.50,-0.10,4.40,1.20,-3.10
eps_adj_latest_ann_2,0.30,1.80,0.30,0.00,0.80,0.70,0.00,3.30,1.00,7.00,...,0.80,0.10,NaN,1.30,1.80,-15.90,-0.60,6.70,1.40,-3.30
eps_adj_latest_ann_3,1.50,1.90,1.30,0.00,1.60,2.40,0.50,3.90,-0.10,5.50,...,0.70,1.40,NaN,3.90,3.00,-16.20,-2.50,8.70,1.80,10.20
net_profit_ann_cr_1,-0.51,2.11,0.24,0.26,1.09,1.17,0.43,11.69,0.89,2.72,...,-0.61,2.96,NaN,1.74,4.12,-27.85,-21.15,11.15,11.43,-96.04
net_profit_ann_cr_2,1.27,1.65,0.38,2.22,9.77,1.22,0.21,11.69,4.16,6.16,...,6.29,0.24,NaN,2.83,3.41,-238.47,-49.21,12.30,11.05,-40.89
net_profit_ann_cr_3,5.66,1.83,1.00,0.85,19.94,3.36,5.19,9.15,-0.24,5.10,...,3.94,7.59,NaN,4.32,4.49,-165.35,-104.91,14.64,13.85,27.60
npm_ann_percent_1,-0.30,0.90,0.10,0.10,0.10,1.40,0.30,8.10,15.20,42.20,...,-0.10,0.70,NaN,1.30,3.00,-241.40,-78.50,4.00,10.30,-13.50
npm_ann_percent_2,0.90,1.10,0.20,0.10,1.00,1.20,0.20,8.10,62.00,89.90,...,0.80,0.10,NaN,1.70,3.10,-284.60,-570.50,6.10,11.40,-14.30
npm_ann_percent_3,4.30,1.10,0.70,0.10,2.10,3.90,3.20,9.50,-3.10,70.10,...,0.70,2.00,NaN,5.20,5.20,-290.50,-2451.20,7.90,15.20,44.00
roce_ann_percent_1,5.68,36.00,13.63,1.59,7.00,13.61,65.56,10.83,10.64,16.65,...,0.79,12.20,NaN,35.67,35.75,-55.62,-3.33,48.01,17.84,-18.98
roce_ann_percent_2,8.61,21.59,13.08,3.56,28.99,7.16,57.89,10.83,7.97,20.37,...,14.23,2.70,NaN,39.15,29.60,-35.51,-52.01,46.68,14.16,-13.38
roce_ann_percent_3,12.06,26.54,20.54,3.65,43.52,20.63,64.82,12.98,6.72,12.85,...,17.60,27.51,NaN,64.38,36.54,-63.83,-91.73,41.88,15.76,38.73
roe_ann_percent_1,-1.34,57.38,2.80,1.06,3.49,7.85,4.14,9.67,1.25,7.78,...,-1.26,8.14,NaN,30.30,33.83,-89.15,-6.30,42.64,14.54,-19.78
roe_ann_percent_2,3.44,42.54,7.68,1.75,20.61,5.97,1.97,9.67,4.92,15.98,...,14.95,1.04,NaN,29.03,25.95,-48.65,-19.24,39.23,13.90,-23.66
roe_ann_percent_3,13.87,27.73,27.09,2.39,30.72,17.75,28.14,10.18,-0.25,11.04,...,11.07,19.69,NaN,49.10,29.88,-82.43,-407.55,33.64,15.77,39.86
total_debt_to_total_equity_ann_1,3.90,2.70,4.50,0.30,0.20,1.90,4.10,0.70,7.80,0.70,...,NaN,0.10,NaN,0.60,1.70,1.20,NaN,NaN,0.30,0.10
total_debt_to_total_equity_ann_2,3.70,4.00,5.00,0.20,0.10,1.50,4.30,0.70,6.00,0.80,...,NaN,0.10,NaN,0.30,1.60,0.30,NaN,NaN,0.40,0.70
total_debt_to_total_equity_ann_3,3.50,3.30,3.60,0.20,0.10,1.50,3.30,0.50,6.90,1.40,...,NaN,0.10,NaN,0.20,1.50,0.50,NaN,NaN,0.30,0.10

In [338]:
final_df.iloc[:,60:80]

company,Alpex Solar,Alphalogic Techsys,Aluwind Architectural,Amanaya Ventures,Ambey Laboratories,Ambo Agritec,Ameya Precision Engineers,Ami Organics,Amiable Logistic,Amkay Products,Amwill Health Care,Anand Rathi Wealth,Anand Rayons,Angel One,Anmol,Annapurna Swadisht,Anthem Biosciences,Anupam Rasayan,Anuroop Packaging,Anya Polytech Fertilizers
cash_from_operating_act_ann_cr_1,1.70,0.50,3.00,-0.50,2.70,1.40,3.10,7.90,1.10,3.40,3.00,96.60,-3.30,-265.30,18.60,-0.50,333.40,-7.70,-0.70,-6.40
cash_from_operating_act_ann_cr_2,-1.10,0.50,-1.80,-0.10,5.60,1.40,1.50,21.80,1.10,-0.30,4.80,56.80,-3.60,-306.30,-27.00,-0.50,306.00,42.40,0.20,2.80
cash_from_operating_act_ann_cr_3,-6.90,0.50,1.50,0.40,9.40,-0.50,3.60,27.30,0.40,1.00,-3.10,142.50,1.00,654.20,30.40,-1.30,140.20,94.80,0.40,1.70
ebitda_ann_cr_1,10.10,0.50,2.00,0.00,10.40,1.40,2.90,33.40,0.20,4.60,NaN,83.60,3.10,88.10,2.50,0.80,614.40,79.80,2.30,4.90
ebitda_ann_cr_2,7.00,0.50,2.10,0.00,10.90,1.40,4.10,44.00,0.40,3.00,NaN,100.70,5.20,255.40,3.20,0.80,506.00,112.60,1.80,11.50
ebitda_ann_cr_3,12.70,0.50,4.90,0.10,11.00,1.40,5.20,43.90,0.50,3.50,NaN,114.80,6.60,203.30,6.40,1.50,568.70,145.40,1.10,18.50
eps_adj_latest_ann_1,1.30,0.10,0.30,0.00,4.10,0.20,2.30,2.30,0.10,3.60,1.30,6.10,0.20,2.30,0.20,0.20,7.20,3.40,1.20,0.10
eps_adj_latest_ann_2,0.10,0.10,0.30,0.00,1.40,0.20,2.40,3.00,1.20,1.70,1.60,7.90,0.50,11.20,0.20,0.20,6.90,4.40,0.90,0.40
eps_adj_latest_ann_3,1.60,0.10,1.10,0.20,1.80,0.20,3.60,3.40,1.70,1.70,6.30,8.60,0.70,8.50,0.50,0.20,6.50,4.70,0.40,0.80
net_profit_ann_cr_1,2.08,17.93,3.61,0.06,12.64,0.43,7.90,9.79,1.03,7.68,9.32,23.91,0.20,4.55,0.43,2.49,32.97,11.27,18.29,0.76
net_profit_ann_cr_2,0.15,17.93,2.71,0.15,4.22,0.43,7.69,10.45,1.35,4.01,10.32,24.35,0.38,13.68,0.58,2.49,36.44,10.01,15.92,4.93
net_profit_ann_cr_3,1.94,16.98,5.52,0.55,4.35,0.40,11.06,11.46,2.15,5.41,28.44,22.11,0.55,10.40,0.87,2.52,25.87,10.01,9.00,8.08
npm_ann_percent_1,3.20,0.30,0.80,0.00,10.30,0.30,1.70,18.40,0.00,3.10,2.60,50.30,0.50,20.70,0.80,0.30,406.00,38.70,1.30,0.70
npm_ann_percent_2,0.20,0.30,0.80,0.00,3.60,0.30,1.80,24.60,0.20,1.50,3.10,65.20,1.10,101.10,1.10,0.30,385.20,50.20,1.00,4.70
npm_ann_percent_3,3.80,0.40,2.70,0.10,4.60,0.20,2.70,27.50,0.30,1.50,12.50,71.30,1.50,76.70,2.60,0.50,367.30,53.00,0.40,9.60
roce_ann_percent_1,15.35,63.59,14.22,0.20,31.65,25.86,17.40,38.56,6.46,70.48,204.21,83.77,17.92,24.82,13.56,NaN,39.87,8.47,22.04,5.56
roce_ann_percent_2,8.63,63.59,9.74,0.82,22.94,25.86,22.75,38.74,23.76,24.79,85.70,62.43,26.40,49.94,15.33,NaN,23.89,9.23,15.23,12.58
roce_ann_percent_3,21.04,551.37,22.61,5.06,21.59,19.99,28.67,30.23,33.16,25.25,96.08,36.06,29.78,34.82,30.40,NaN,23.63,9.97,7.83,24.91
roe_ann_percent_1,8.40,46.53,7.38,0.16,-131.44,13.76,23.13,31.78,2.59,65.98,172.97,56.05,8.53,6.62,10.84,NaN,29.98,8.95,14.55,3.13
roe_ann_percent_2,0.51,46.53,5.51,0.51,41.72,13.76,19.44,30.36,23.23,23.64,67.67,42.10,15.72,22.49,12.49,NaN,22.12,10.42,9.90,17.23
roe_ann_percent_3,9.13,428.93,15.86,3.75,34.78,7.59,22.74,25.44,23.33,19.57,72.84,31.67,16.65,15.22,23.14,NaN,19.08,9.37,3.88,25.73
total_debt_to_total_equity_ann_1,0.80,0.30,0.40,0.00,-4.20,4.00,0.80,0.70,1.30,0.30,0.10,0.00,4.30,2.20,3.10,NaN,0.00,0.90,0.40,1.20
total_debt_to_total_equity_ann_2,0.70,0.30,0.50,0.00,2.10,4.00,0.90,0.60,1.10,0.70,0.00,0.20,4.50,2.40,3.10,NaN,0.10,1.30,0.30,1.90
total_debt_to_total_equity_ann_3,1.10,0.30,0.40,0.00,1.00,4.00,0.30,0.50,0.50,0.60,0.00,0.20,3.80,1.70,1.90,NaN,0.10,1.40,0.40,1.30

In [339]:
for i in final_df.columns:
    # if (final_df[i].isnull().sum()/final_df.shape[0])*100 >= 50:
    print(f"Null value before & after treatment of column :{i} --> {null_df[i].isnull().sum()} , {final_df[i].isnull().sum()}")
        # print(f"{i} has {final_df[i].isnull().sum()/final_df.shape[0]*100} null values --> dropped.")
        # final_df = final_df.drop(i,axis=1)

Null value before & after treatment of column :3B Films --> 3 , 3
Null value before & after treatment of column :3C IT Sol & Telecom --> 0 , 0
Null value before & after treatment of column :A G Universal --> 0 , 0
Null value before & after treatment of column :AA Plus Tradelink --> 3 , 0
Null value before & after treatment of column :AAA Technologies --> 1 , 0
Null value before & after treatment of column :AB Cotspin --> 0 , 0
Null value before & after treatment of column :AB Infrabuild --> 0 , 0
Null value before & after treatment of column :ABS Marine Services --> 8 , 0
Null value before & after treatment of column :ACME Solar Holdings Ltd. --> 0 , 0
Null value before & after treatment of column :AGS Transact Tech --> 0 , 0
Null value before & after treatment of column :AJC Jewel Manufacturers --> 3 , 3
Null value before & after treatment of column :AMIC Forging --> 4 , 0
Null value before & after treatment of column :ASK Automotive --> 24 , 24
Null value before & after treatment of column :ATC Energies System --> 3 , 3
Null value before & after treatment of column :AVP Infracon --> 0 , 0
Null value before & after treatment of column :Aakaar Medical Technologies --> 8 , 0
Null value before & after treatment of column :Aartech Solonics --> 2 , 0
Null value before & after treatment of column :Aashka Hospitals --> 8 , 0
Null value before & after treatment of column :Aatmaj Healthcare --> 1 , 0
Null value before & after treatment of column :Abans Holdings --> 3 , 0
Null value before & after treatment of column :Abha Power and Steel Ltd. --> 8 , 0
Null value before & after treatment of column :Abhishek Integrations --> 11 , 0
Null value before & after treatment of column :Abram Food --> 1 , 0
Null value before & after treatment of column :AccelerateBS --> 1 , 0
Null value before & after treatment of column :Accent Microcell --> 8 , 0
Null value before & after treatment of column :Accretion Pharmaceuticals --> 3 , 3
Null value before & after treatment of column :Ace Alpha Tech --> 6 , 6
Null value before & after treatment of column :Achyut Healthcare --> 6 , 6
Null value before & after treatment of column :Active Infrastructures --> 3 , 3
Null value before & after treatment of column :Adani Wilmar --> 0 , 0
Null value before & after treatment of column :Adcounty Media --> 5 , 3
Null value before & after treatment of column :Addictive Learning --> 5 , 0
Null value before & after treatment of column :Adeshwar Meditex --> 0 , 0
Null value before & after treatment of column :Adishakti Loha & Ispat --> 8 , 0
Null value before & after treatment of column :Aditya Birla Sun Life AMC --> 3 , 3
Null value before & after treatment of column :Aditya Ultra Steel Ltd. --> 8 , 0
Null value before & after treatment of column :Adjia Technologies --> 12 , 0
Null value before & after treatment of column :Advait Infratech --> 0 , 0
Null value before & after treatment of column :Aegis Vopak Terminals --> 3 , 0
Null value before & after treatment of column :Aelea Commodities --> 2 , 0
Null value before & after treatment of column :Aeroflex Industries --> 0 , 0
Null value before & after treatment of column :Aeron Composite --> 0 , 0
Null value before & after treatment of column :Aesthetik Engineers --> 1 , 0
Null value before & after treatment of column :Aether Industries --> 0 , 0
Null value before & after treatment of column :Afcom Holdings --> 2 , 0
Null value before & after treatment of column :Afcons Infrastructure Ltd. --> 0 , 0
Null value before & after treatment of column :Affle --> 1 , 0
Null value before & after treatment of column :Agarwal Float Glass --> 0 , 0
Null value before & after treatment of column :Agarwal Toughened Glass India Ltd. --> 8 , 0
Null value before & after treatment of column :Agni Green Power --> 0 , 0
Null value before & after treatment of column :Ahasolar Tech --> 0 , 0
Null value before & after treatment of column :Aimtron Electronics --> 0 , 0
Null value before & after treatment of column :Ajax Engineering --> 0 , 0
Null value before & after treatment of column :Akanksha Power --> 0 , 0
Null value before & after treatment of column :Akme Fintrade --> 4 , 0
Null value before & after treatment of column :Akums Drugs & Pharma --> 8 , 0
Null value before & after treatment of column :Alivus Life Sciences --> 4 , 3
Null value before & after treatment of column :Alkosign --> 16 , 0
Null value before & after treatment of column :All e Technologies --> 24 , 24
Null value before & after treatment of column :Allied Blenders --> 4 , 0
Null value before & after treatment of column :Alpex Solar --> 0 , 0
Null value before & after treatment of column :Alphalogic Techsys --> 10 , 0
Null value before & after treatment of column :Aluwind Architectural --> 0 , 0
Null value before & after treatment of column :Amanaya Ventures --> 3 , 0
Null value before & after treatment of column :Ambey Laboratories --> 0 , 0
Null value before & after treatment of column :Ambo Agritec --> 8 , 0
Null value before & after treatment of column :Ameya Precision Engineers --> 0 , 0
Null value before & after treatment of column :Ami Organics --> 0 , 0
Null value before & after treatment of column :Amiable Logistic --> 1 , 0
Null value before & after treatment of column :Amkay Products --> 0 , 0
Null value before & after treatment of column :Amwill Health Care --> 4 , 3
Null value before & after treatment of column :Anand Rathi Wealth --> 1 , 0
Null value before & after treatment of column :Anand Rayons --> 0 , 0
Null value before & after treatment of column :Angel One --> 0 , 0
Null value before & after treatment of column :Anmol --> 0 , 0
Null value before & after treatment of column :Annapurna Swadisht --> 14 , 9
Null value before & after treatment of column :Anthem Biosciences --> 0 , 0
Null value before & after treatment of column :Anupam Rasayan --> 0 , 0
Null value before & after treatment of column :Anuroop Packaging --> 0 , 0
Null value before & after treatment of column :Anya Polytech Fertilizers --> 0 , 0
Null value before & after treatment of column :Apeejay Surrendra --> 0 , 0
Null value before & after treatment of column :Apex Ecotech Ltd. --> 1 , 0
Null value before & after treatment of column :Aprameya Engineering --> 0 , 0
Null value before & after treatment of column :Arabian Petroleum --> 0 , 0
Null value before & after treatment of column :Arham Technologies --> 8 , 0
Null value before & after treatment of column :Arihant Academy --> 8 , 0
Null value before & after treatment of column :Arisinfra Solutions --> 2 , 0
Null value before & after treatment of column :Aristo Bio-Tech --> 0 , 0
Null value before & after treatment of column :Arkade Developers Ltd. --> 0 , 0
Null value before & after treatment of column :Arrowhead Seperation --> 8 , 0
Null value before & after treatment of column :Artedz Fabs --> 2 , 0
Null value before & after treatment of column :Artemis Electricals --> 0 , 0
Null value before & after treatment of column :Arunaya Organics --> 3 , 3
Null value before & after treatment of column :Asarfi Hospital --> 8 , 0
Null value before & after treatment of column :Ascensive Educare --> 0 , 0
Null value before & after treatment of column :Ashapura Logistics --> 0 , 0
Null value before & after treatment of column :Ashapuri Ornament --> 3 , 3
Null value before & after treatment of column :Aspire & Innovative --> 0 , 0
Null value before & after treatment of column :Associated Coaters --> 4 , 0
Null value before & after treatment of column :Asston Pharmaceuticals --> 10 , 3
Null value before & after treatment of column :Astonea Labs --> 3 , 3
Null value before & after treatment of column :Atal Realtech --> 8 , 0
Null value before & after treatment of column :Atam Valves --> 8 , 0
Null value before & after treatment of column :Aten Papers and Foam --> 3 , 3
Null value before & after treatment of column :Ather Energy --> 0 , 0
Null value before & after treatment of column :Atmastco --> 0 , 0
Null value before & after treatment of column :Australian Premium Solar --> 0 , 0
Null value before & after treatment of column :Avalon Technologies --> 0 , 0
Null value before & after treatment of column :Avax Apparels and Ornaments Ltd. --> 1 , 0
Null value before & after treatment of column :Avi Ansh Textile Ltd. --> 0 , 0
Null value before & after treatment of column :Awfis Space Solutions --> 3 , 3
Null value before & after treatment of column :Azad Engineering --> 8 , 0
Null value before & after treatment of column :Aztec Fluids & Machinery --> 0 , 0
Null value before & after treatment of column :B-Right Realestate --> 2 , 0
Null value before & after treatment of column :B.R.Goyal Infra --> 0 , 0
Null value before & after treatment of column :BEW Engineering --> 0 , 0
Null value before & after treatment of column :BLS E-Services --> 2 , 0
Null value before & after treatment of column :Baazar Style Retail --> 0 , 0
Null value before & after treatment of column :Baba Food Processing --> 8 , 0
Null value before & after treatment of column :Bajaj Housing Finance Ltd. --> 0 , 0
Null value before & after treatment of column :Balaji Phosphates --> 3 , 3
Null value before & after treatment of column :Barflex Polyfilms --> 6 , 6
Null value before & after treatment of column :Basilic Fly Studio --> 8 , 0
Null value before & after treatment of column :Baweja Studios --> 0 , 0
Null value before & after treatment of column :Beacon Trusteeship --> 3 , 0
Null value before & after treatment of column :Beezaasan Explotech --> 3 , 3
Null value before & after treatment of column :Belrise Industries --> 0 , 0
Null value before & after treatment of column :Bharat Highways InvIT --> 6 , 0
Null value before & after treatment of column :Bharti Hexacom --> 0 , 0
Null value before & after treatment of column :Bhatia Colour Chem --> 24 , 24
Null value before & after treatment of column :Bikewo Green Tech Ltd. --> 0 , 0
Null value before & after treatment of column :Billwin Industries --> 2 , 0
Null value before & after treatment of column :Bizotic Commercial --> 1 , 0
Null value before & after treatment of column :Blue Jet Healthcare --> 1 , 0
Null value before & after treatment of column :Blue Pebble --> 0 , 0
Null value before & after treatment of column :Blue Water Logistics --> 3 , 3
Null value before & after treatment of column :Bodhi Tree Multimedia --> 2 , 0
Null value before & after treatment of column :Bondada Engineering --> 0 , 0
Null value before & after treatment of column :Bonlon Industries --> 16 , 0
Null value before & after treatment of column :Borana Weaves --> 0 , 0
Null value before & after treatment of column :Boss Packaging Solutions Ltd. --> 1 , 0
Null value before & after treatment of column :Brace Port Logistics --> 2 , 0
Null value before & after treatment of column :Brainbees Solutions --> 1 , 0
Null value before & after treatment of column :Brandbucket Media --> 8 , 0
Null value before & after treatment of column :Bright Outdoor Media --> 9 , 0
Null value before & after treatment of column :Brisk Technovision --> 1 , 0
Null value before & after treatment of column :Broach Lifecare Hospital --> 24 , 24
Null value before & after treatment of column :Bulkcorp Intl --> 0 , 0
Null value before & after treatment of column :C.E. Info Systems --> 3 , 3
Null value before & after treatment of column :C2C Advanced Systems Ltd. --> 2 , 0
Null value before & after treatment of column :CLN Energy Ltd. --> 6 , 6
Null value before & after treatment of column :CMS Info Systems --> 3 , 3
Null value before & after treatment of column :CPS Shapers --> 1 , 0
Null value before & after treatment of column :CSB Bank --> 0 , 0
Null value before & after treatment of column :CWD --> 9 , 0
Null value before & after treatment of column :Campus Activewear --> 0 , 0
Null value before & after treatment of column :Canarys Automations --> 2 , 0
Null value before & after treatment of column :Capital Infra Trust --> 0 , 0
Null value before & after treatment of column :CapitalNumbers Infotech Ltd. --> 4 , 3
Null value before & after treatment of column :CarTrade Tech --> 2 , 0
Null value before & after treatment of column :Cargosol Logistics --> 0 , 0
Null value before & after treatment of column :Cargotrans Maritime --> 2 , 0
Null value before & after treatment of column :Carraro India Ltd. --> 8 , 0
Null value before & after treatment of column :Cedaar Textile --> 3 , 3
Null value before & after treatment of column :Ceigall --> 8 , 0
Null value before & after treatment of column :Cell Point --> 0 , 0
Null value before & after treatment of column :Cellecor Gadgets --> 12 , 0
Null value before & after treatment of column :Cello World --> 8 , 0
Null value before & after treatment of column :Chalet Hotels --> 0 , 0
Null value before & after treatment of column :Chaman Metallics --> 0 , 0
Null value before & after treatment of column :Chamunda Electrical --> 0 , 0
Null value before & after treatment of column :Chandan Healthcare --> 3 , 3
Null value before & after treatment of column :Chandra Bhagat Pharma --> 0 , 0
Null value before & after treatment of column :Chatha Foods --> 0 , 0
Null value before & after treatment of column :Chavda Infra --> 8 , 0
Null value before & after treatment of column :Chemkart --> 1 , 0
Null value before & after treatment of column :Chemplast Sanmar --> 8 , 0
Null value before & after treatment of column :Chetana Education --> 0 , 0
Null value before & after treatment of column :Cian Healthcare --> 1 , 0
Null value before & after treatment of column :Citichem India Ltd. --> 0 , 0
Null value before & after treatment of column :City Crops Agro --> 8 , 0
Null value before & after treatment of column :City Pulse Multiplex --> 8 , 0
Null value before & after treatment of column :Clara Industries --> 24 , 24
Null value before & after treatment of column :Clinitech Laboratory --> 0 , 0
Null value before & after treatment of column :Command Polymers --> 0 , 0
Null value before & after treatment of column :Committed Cargo Care --> 1 , 0
Null value before & after treatment of column :Computer Age Mgmt --> 3 , 3
Null value before & after treatment of column :Comrade Appliances --> 8 , 0
Null value before & after treatment of column :Concord Biotech --> 16 , 0
Null value before & after treatment of column :Concord Enviro Systems Ltd. --> 8 , 0
Null value before & after treatment of column :Containe Tech --> 8 , 0
Null value before & after treatment of column :Cool Caps Industries --> 0 , 0
Null value before & after treatment of column :Cosmic CRF --> 17 , 3
Null value before & after treatment of column :Cospower Engineering --> 0 , 0
Null value before & after treatment of column :Craftsman Automation --> 0 , 0
Null value before & after treatment of column :Crayons Advertising --> 1 , 0
Null value before & after treatment of column :Crizac --> 3 , 3
Null value before & after treatment of column :Crop Life Science --> 0 , 0
Null value before & after treatment of column :Cryogenic OGS --> 12 , 6
Null value before & after treatment of column :Cyber Media Research --> 0 , 0
Null value before & after treatment of column :Cyient DLM --> 0 , 0
Null value before & after treatment of column :DAPS Advertising --> 8 , 0
Null value before & after treatment of column :DC Infotech and Comms --> 8 , 0
Null value before & after treatment of column :DCG Cables & Wires --> 0 , 0
Null value before & after treatment of column :DCX Systems --> 0 , 0
Null value before & after treatment of column :DEE Development --> 1 , 0
Null value before & after treatment of column :DJ Mediaprint & Logistics --> 0 , 0
Null value before & after treatment of column :DMR Hydroengineering --> 4 , 3
Null value before & after treatment of column :DOMS Industries --> 8 , 0
Null value before & after treatment of column :DU Digital Global --> 0 , 0
Null value before & after treatment of column :Dam Capital Advisors Ltd. --> 0 , 0
Null value before & after treatment of column :Danish Power Ltd. --> 8 , 0
Null value before & after treatment of column :Dar Credit Capital --> 5 , 3
Null value before & after treatment of column :Data Patterns --> 0 , 0
Null value before & after treatment of column :Davin Sons Retail Ltd. --> 8 , 0
Null value before & after treatment of column :De Neers Tools --> 24 , 24
Null value before & after treatment of column :Deccan Transcon Leasing Ltd. --> 1 , 0
Null value before & after treatment of column :Deem Roll-Tech --> 0 , 0
Null value before & after treatment of column :Deepak Builders & Engineers India Ltd. --> 16 , 0
Null value before & after treatment of column :Deepak Chemtex --> 12 , 0
Null value before & after treatment of column :Delhivery --> 0 , 0
Null value before & after treatment of column :Delta Autocorp --> 3 , 3
Null value before & after treatment of column :Denta Water and Infra --> 1 , 0
Null value before & after treatment of column :Desco Infratech --> 3 , 3
Null value before & after treatment of column :Destiny Logistics & Infra --> 8 , 0
Null value before & after treatment of column :Dev Labtech Venture --> 3 , 0
Null value before & after treatment of column :Devyani Intl --> 8 , 0
Null value before & after treatment of column :Dhanlaxmi Crop Science Ltd. --> 1 , 0
Null value before & after treatment of column :Dhariwalcorp --> 8 , 0
Null value before & after treatment of column :Dharmaj Crop Guard --> 0 , 0
Null value before & after treatment of column :Dhyaani Tradeventures --> 1 , 0
Null value before & after treatment of column :Diensten Tech --> 1 , 0
Null value before & after treatment of column :Diffusion Engineers Ltd. --> 1 , 0
Null value before & after treatment of column :Digikore Studios --> 8 , 0
Null value before & after treatment of column :Dipna Pharmachem --> 2 , 0
Null value before & after treatment of column :Divine Hira Jewellers --> 3 , 3
Null value before & after treatment of column :Divine Power Energy --> 8 , 0
Null value before & after treatment of column :Divyadhan Recycling Industries Ltd. --> 1 , 0
Null value before & after treatment of column :Dodla Dairy --> 0 , 0
Null value before & after treatment of column :Dollex Agrotech --> 6 , 6
Null value before & after treatment of column :Dr Agarwals Health Care --> 0 , 0
Null value before & after treatment of column :Dreamfolks Services --> 0 , 0
Null value before & after treatment of column :Drone Destination --> 8 , 0
Null value before & after treatment of column :Droneacharya Aerial --> 11 , 0
Null value before & after treatment of column :Ducol Organics & Colours --> 0 , 0
Null value before & after treatment of column :Durlax Top Surface --> 8 , 0
Null value before & after treatment of column :E Factor Experiences --> 0 , 0
Null value before & after treatment of column :EKI Energy Services --> 0 , 0
Null value before & after treatment of column :EMA Partners India Ltd. --> 3 , 3
Null value before & after treatment of column :EMS --> 0 , 0
Null value before & after treatment of column :EP Biocomposites --> 9 , 0
Null value before & after treatment of column :EPACK Durables --> 0 , 0
Null value before & after treatment of column :ESAF Small Finance --> 0 , 0
Null value before & after treatment of column :Earthstahl & Alloys --> 0 , 0
Null value before & after treatment of column :Easy Trip Planners --> 4 , 3
Null value before & after treatment of column :Effwa Infra & Research --> 8 , 0
Null value before & after treatment of column :Eighty Jewellers --> 0 , 0
Null value before & after treatment of column :Ekennis Software --> 8 , 0
Null value before & after treatment of column :Electro Force --> 16 , 0
Null value before & after treatment of column :Electronics Mart --> 0 , 0
Null value before & after treatment of column :Eleganz Interiors --> 3 , 3
Null value before & after treatment of column :Elin Electronics --> 0 , 0
Null value before & after treatment of column :Ellenbarrie Industrial Gases --> 8 , 0
Null value before & after treatment of column :Embassy Office Parks REIT --> 24 , 24
Null value before & after treatment of column :Emcure Pharma --> 0 , 0

In [340]:
for i in final_df.columns:
    if (final_df[i].isnull().sum()/final_df.shape[0])*100 >= 90:
        print(f"{i} --> {final_df[i].isnull().sum()/final_df.shape[0]*100} get gropped.")
        final_df = final_df.drop(i,axis=1)

ASK Automotive --> 100.0 get gropped.
All e Technologies --> 100.0 get gropped.
Bhatia Colour Chem --> 100.0 get gropped.
Broach Lifecare Hospital --> 100.0 get gropped.
Clara Industries --> 100.0 get gropped.
De Neers Tools --> 100.0 get gropped.
Embassy Office Parks REIT --> 100.0 get gropped.
Gensol Engineering --> 100.0 get gropped.
Getalong Enterprises --> 100.0 get gropped.
Gleam Fabmat --> 100.0 get gropped.
Hexaware Technologies --> 100.0 get gropped.
KK Shah Hospitals --> 100.0 get gropped.
Labelkraft Tech --> 100.0 get gropped.
Mangalam Alloys --> 100.0 get gropped.
Mindspace REIT --> 100.0 get gropped.
Oneclick Logistics --> 100.0 get gropped.
Property Share Investment Trust --> 100.0 get gropped.
Quality Foils --> 100.0 get gropped.
Quality RO Industries --> 100.0 get gropped.
Royal Sense --> 100.0 get gropped.
Sai Silks Kalamandir --> 100.0 get gropped.
Shine Fashions --> 100.0 get gropped.
Sonalis Consumer Products --> 100.0 get gropped.
Swastik Pipe --> 100.0 get gropped.
Zaggle Prepaid Ocean --> 100.0 get gropped.

In [341]:
final_df.shape

(24, 957)

In [342]:
final_df = final_df.T
final_df

,cash_from_operating_act_ann_cr_1,cash_from_operating_act_ann_cr_2,cash_from_operating_act_ann_cr_3,ebitda_ann_cr_1,ebitda_ann_cr_2,ebitda_ann_cr_3,eps_adj_latest_ann_1,eps_adj_latest_ann_2,eps_adj_latest_ann_3,net_profit_ann_cr_1,...,npm_ann_percent_3,roce_ann_percent_1,roce_ann_percent_2,roce_ann_percent_3,roe_ann_percent_1,roe_ann_percent_2,roe_ann_percent_3,total_debt_to_total_equity_ann_1,total_debt_to_total_equity_ann_2,total_debt_to_total_equity_ann_3
company,,,,,,,,,,,,,,,,,,,,,
3B Films,-3.2,3.3,1.6,NaN,NaN,NaN,-0.1,0.3,1.5,-0.51,...,4.3,5.68,8.61,12.06,-1.34,3.44,13.87,3.9,3.7,3.5
3C IT Sol & Telecom,1.2,-6.0,-2.2,2.0,2.9,4.2,1.4,1.8,1.9,2.11,...,1.1,36.00,21.59,26.54,57.38,42.54,27.73,2.7,4.0,3.3
A G Universal,2.0,1.9,1.4,0.9,1.1,1.7,0.1,0.3,1.3,0.24,...,0.7,13.63,13.08,20.54,2.80,7.68,27.09,4.5,5.0,3.6
AA Plus Tradelink,-1.1,0.2,-1.6,0.1,0.2,0.2,0.0,0.0,0.0,0.26,...,0.1,1.59,3.56,3.65,1.06,1.75,2.39,0.3,0.2,0.2
AAA Technologies,1.0,1.0,0.9,0.3,1.5,3.1,0.1,0.8,1.6,1.09,...,2.1,7.00,28.99,43.52,3.49,20.61,30.72,0.2,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zinka Logistics Solutions Ltd.,-32.2,-78.2,-119.2,-177.6,-197.7,-213.1,-13.5,-15.9,-16.2,-27.85,...,-290.5,-55.62,-35.51,-63.83,-89.15,-48.65,-82.43,1.2,0.3,0.5
Zomato,-61.7,-1667.0,-2073.9,-35.2,-1690.1,-2057.3,-0.1,-0.6,-2.5,-21.15,...,-2451.2,-3.33,-52.01,-91.73,-6.30,-19.24,-407.55,NaN,NaN,NaN
delaPlex,0.6,2.8,1.4,5.8,8.6,11.1,4.4,6.7,8.7,11.15,...,7.9,48.01,46.68,41.88,42.64,39.23,33.64,NaN,NaN,NaN
eMudhra,15.3,11.2,31.6,23.2,22.5,28.1,1.2,1.4,1.8,11.43,...,15.2,17.84,14.16,15.76,14.54,13.90,15.77,0.3,0.4,0.3
ideaForge Technology,-17.1,-31.7,66.5,-10.9,-10.2,75.1,-3.1,-3.3,10.2,-96.04,...,44.0,-18.98,-13.38,38.73,-19.78,-23.66,39.86,0.1,0.7,0.1

In [343]:
for i in final_df.columns:
    print(f"{i} --> {final_df[i].isnull().sum()/final_df.shape[0]*100}")

cash_from_operating_act_ann_cr_1 --> 1.7763845350052248
cash_from_operating_act_ann_cr_2 --> 1.7763845350052248
cash_from_operating_act_ann_cr_3 --> 1.7763845350052248
ebitda_ann_cr_1 --> 9.717868338557993
ebitda_ann_cr_2 --> 9.717868338557993
ebitda_ann_cr_3 --> 9.717868338557993
eps_adj_latest_ann_1 --> 1.1494252873563218
eps_adj_latest_ann_2 --> 1.1494252873563218
eps_adj_latest_ann_3 --> 1.1494252873563218
net_profit_ann_cr_1 --> 0.522466039707419
net_profit_ann_cr_2 --> 0.522466039707419
net_profit_ann_cr_3 --> 0.522466039707419
npm_ann_percent_1 --> 0.7314524555903866
npm_ann_percent_2 --> 0.7314524555903866
npm_ann_percent_3 --> 0.7314524555903866
roce_ann_percent_1 --> 0.20898641588296762
roce_ann_percent_2 --> 0.20898641588296762
roce_ann_percent_3 --> 0.20898641588296762
roe_ann_percent_1 --> 0.8359456635318705
roe_ann_percent_2 --> 0.8359456635318705
roe_ann_percent_3 --> 0.8359456635318705
total_debt_to_total_equity_ann_1 --> 6.0606060606060606
total_debt_to_total_equity_ann_2 --> 6.0606060606060606
total_debt_to_total_equity_ann_3 --> 6.0606060606060606

In [344]:
final_df['cash_from_operating_act_ann_cr_1'].median()

1.0

In [345]:
for i in final_df.columns:
    print(f"Null values filled by {final_df[i].median()} in column{i}.\n")
    final_df[i] = final_df[i].fillna(final_df[i].median())

Null values filled by 1.0 in columncash_from_operating_act_ann_cr_1.

Null values filled by 1.1 in columncash_from_operating_act_ann_cr_2.

Null values filled by 2.0 in columncash_from_operating_act_ann_cr_3.

Null values filled by 3.25 in columnebitda_ann_cr_1.

Null values filled by 4.7 in columnebitda_ann_cr_2.

Null values filled by 7.45 in columnebitda_ann_cr_3.

Null values filled by 0.6 in columneps_adj_latest_ann_1.

Null values filled by 1.0 in columneps_adj_latest_ann_2.

Null values filled by 2.2 in columneps_adj_latest_ann_3.

Null values filled by 2.59 in columnnet_profit_ann_cr_1.

Null values filled by 3.34 in columnnet_profit_ann_cr_2.

Null values filled by 5.145 in columnnet_profit_ann_cr_3.

Null values filled by 0.9 in columnnpm_ann_percent_1.

Null values filled by 1.4 in columnnpm_ann_percent_2.

Null values filled by 3.5 in columnnpm_ann_percent_3.

Null values filled by 18.27 in columnroce_ann_percent_1.

Null values filled by 20.37 in columnroce_ann_percent_2.

Null values filled by 25.51 in columnroce_ann_percent_3.

Null values filled by 13.54 in columnroe_ann_percent_1.

Null values filled by 15.41 in columnroe_ann_percent_2.

Null values filled by 21.34 in columnroe_ann_percent_3.

Null values filled by 1.1 in columntotal_debt_to_total_equity_ann_1.

Null values filled by 1.0 in columntotal_debt_to_total_equity_ann_2.

Null values filled by 0.9 in columntotal_debt_to_total_equity_ann_3.

In [346]:
for i in final_df.columns:
    print(f"{i} --> {final_df[i].isnull().sum()/final_df.shape[0]*100}")

cash_from_operating_act_ann_cr_1 --> 0.0
cash_from_operating_act_ann_cr_2 --> 0.0
cash_from_operating_act_ann_cr_3 --> 0.0
ebitda_ann_cr_1 --> 0.0
ebitda_ann_cr_2 --> 0.0
ebitda_ann_cr_3 --> 0.0
eps_adj_latest_ann_1 --> 0.0
eps_adj_latest_ann_2 --> 0.0
eps_adj_latest_ann_3 --> 0.0
net_profit_ann_cr_1 --> 0.0
net_profit_ann_cr_2 --> 0.0
net_profit_ann_cr_3 --> 0.0
npm_ann_percent_1 --> 0.0
npm_ann_percent_2 --> 0.0
npm_ann_percent_3 --> 0.0
roce_ann_percent_1 --> 0.0
roce_ann_percent_2 --> 0.0
roce_ann_percent_3 --> 0.0
roe_ann_percent_1 --> 0.0
roe_ann_percent_2 --> 0.0
roe_ann_percent_3 --> 0.0
total_debt_to_total_equity_ann_1 --> 0.0
total_debt_to_total_equity_ann_2 --> 0.0
total_debt_to_total_equity_ann_3 --> 0.0

In [347]:
final_df = final_df.reset_index()

In [348]:
final_df.head(1).T

                                         0
company                           3B Films
cash_from_operating_act_ann_cr_1      -3.2
cash_from_operating_act_ann_cr_2       3.3
cash_from_operating_act_ann_cr_3       1.6
ebitda_ann_cr_1                       3.25
ebitda_ann_cr_2                        4.7
ebitda_ann_cr_3                       7.45
eps_adj_latest_ann_1                  -0.1
eps_adj_latest_ann_2                   0.3
eps_adj_latest_ann_3                   1.5
net_profit_ann_cr_1                  -0.51
net_profit_ann_cr_2                   1.27
net_profit_ann_cr_3                   5.66
npm_ann_percent_1                     -0.3
npm_ann_percent_2                      0.9
npm_ann_percent_3                      4.3
roce_ann_percent_1                    5.68
roce_ann_percent_2                    8.61
roce_ann_percent_3                   12.06
roe_ann_percent_1                    -1.34
roe_ann_percent_2                     3.44
roe_ann_percent_3                    13.87
total_debt_to_total_equity_ann_1       3.9
total_debt_to_total_equity_ann_2       3.7
total_debt_to_total_equity_ann_3       3.5

### MainBoard and SME Data Cleaning and Transformation

In [350]:
mainboard_df

,Unnamed: 0,Company,LTP,Market Cap(in CR),Listing date,Issue size,Issue price,QIB subscription,HNI subscription,Retail subscription,Total subscription,Listing open,Listing close,Listing gain,Current gain,Issue type
0,0,Prince Pipes,335.6,3709.9,30 Dec `19,500.0 Cr,₹ 178,3.5x,1.2x,1.9x,2.2x,160.0,166.6,-10.1%,88.5%,MainBoard
1,1,Ujjivan Small Finance,43.5,8420.0,12 Dec `19,750.0 Cr,₹ 37,110.7x,473.0x,49.0x,165.7x,58.8,55.9,58.8%,17.6%,MainBoard
2,2,CSB Bank,424.8,7368.8,04 Dec `19,409.7 Cr,₹ 195,62.2x,164.7x,44.5x,86.9x,275.0,300.1,41.0%,117.8%,MainBoard
3,3,Vishwaraj Sugar,9.4,205.4,16 Oct `19,60.0 Cr,₹ 60,1.0x,1.8x,0.6x,1.1x,61.2,60.4,2.0%,-84.3%,MainBoard
4,4,Indian Railway Catering,744.4,59548.0,14 Oct `19,645.1 Cr,₹ 320,108.8x,354.5x,14.8x,111.9x,644.0,728.6,101.3%,132.6%,MainBoard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,25,Laxmi Dental,464.8,2554.4,20 Jan `25,698.1 Cr,₹ 428,110.4x,147.9x,76.2x,114.4x,542.0,550.5,26.6%,8.6%,MainBoard
316,26,Capital Infra Trust,81.8,2251.4,17 Jan `25,1578.0 Cr,₹ 100,0.7x,9.2x,-,2.8x,99.0,99.0,-1.0%,-18.3%,MainBoard
317,27,Quadrant Future Tek,468.5,1874.0,14 Jan `25,290.0 Cr,₹ 290,132.5x,254.7x,246.9x,186.7x,370.0,444.0,27.6%,61.5%,MainBoard
318,28,Standard Glass Lining,175.5,3500.9,13 Jan `25,410.1 Cr,₹ 140,331.6x,268.5x,65.0x,183.2x,172.0,163.3,22.9%,25.4%,MainBoard
319,29,Indo Farm Equipment,205.2,986.0,07 Jan `25,260.1 Cr,₹ 215,242.4x,503.8x,104.9x,229.7x,256.0,273.7,19.1%,-4.6%,MainBoard

In [351]:
sme_df

,Unnamed: 0,Company,LTP,Market Cap(in CR),Listing date,Issue size,Issue price,QIB subscription,HNI subscription,Retail subscription,Total subscription,Listing open,Listing close,Listing gain,Current gain,Issue type
0,0,DC Infotech and Comms,254.9,361.4,27 Dec `19,10.8 Cr,₹ 45,-,1.4x,1.8x,1.6x,45.5,45.2,1.1%,466.4%,SME
1,1,Ascom Leasing,86.0,100.8,06 Dec `19,6.3 Cr,₹ 30,-,1.9x,1.0x,1.5x,30.3,30.3,0.8%,330.3%,SME
2,2,Mangalam Global,16.9,556.9,28 Nov `19,21.6 Cr,₹ 51,-,2.1x,0.5x,1.3x,53.0,51.5,3.9%,397.1%,SME
3,3,Goblin,16.9,23.4,16 Oct `19,15.2 Cr,₹ 52,-,1.9x,0.9x,1.4x,57.9,57.9,11.3%,-67.5%,SME
4,4,Gensol Engineering,48.9,185.8,15 Oct `19,17.9 Cr,₹ 83,-,2.3x,0.4x,1.3x,85.4,64.7,2.9%,135.6%,SME
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,109,Parmeshwar Metal Ltd.,68.0,104.1,09 Jan `25,24.7 Cr,₹ 61,94.1x,1597.6x,792.4x,564.0x,84.5,88.7,38.5%,11.5%,SME
767,110,Leo Dryfruits & Spices Trading Ltd.,78.0,139.6,08 Jan `25,25.1 Cr,₹ 52,35.6x,525.7x,207.0x,169.1x,68.0,71.4,30.8%,50.0%,SME
768,111,Technichem Organics Ltd.,42.0,72.7,07 Jan `25,25.3 Cr,₹ 55,53.5x,1425.0x,434.6x,392.6x,57.3,60.1,4.1%,-23.7%,SME
769,112,Citichem India Ltd.,27.0,18.4,03 Jan `25,12.6 Cr,₹ 70,-,263.8x,522.7x,393.2x,70.0,68.3,0.0%,-61.4%,SME
770,113,Anya Polytech Fertilizers,26.6,319.2,02 Jan `25,44.8 Cr,₹ 14,80.1x,1463.9x,427.5x,409.3x,17.1,17.9,22.1%,90.0%,SME

In [352]:
for i in mainboard_df.columns:
    print(f"{i} --> {(mainboard_df[i].isnull().sum()/mainboard_df.shape[0])*100}")

Unnamed: 0 --> 0.0
Company --> 0.0
LTP --> 0.0
Market Cap(in CR) --> 0.0
Listing date --> 0.0
Issue size --> 0.0
Issue price --> 0.0
QIB subscription --> 0.0
HNI subscription --> 0.0
Retail subscription --> 0.0
Total subscription --> 0.0
Listing open --> 0.0
Listing close --> 0.0
Listing gain --> 0.0
Current gain --> 0.0
Issue type --> 0.0

In [353]:
for i in sme_df.columns:
    print(f"{i} --> {(sme_df[i].isnull().sum()/sme_df.shape[0])*100}")

Unnamed: 0 --> 0.0
Company --> 0.0
LTP --> 0.0
Market Cap(in CR) --> 0.0
Listing date --> 0.0
Issue size --> 0.0
Issue price --> 0.0
QIB subscription --> 0.0
HNI subscription --> 0.0
Retail subscription --> 0.0
Total subscription --> 0.0
Listing open --> 0.0
Listing close --> 0.0
Listing gain --> 0.0
Current gain --> 0.0
Issue type --> 0.0

In [354]:
mainboard_df.drop("Unnamed: 0",axis=1,inplace=True)
sme_df.drop("Unnamed: 0",axis=1,inplace=True)

In [355]:
mainboard_df.head()

,Company,LTP,Market Cap(in CR),Listing date,Issue size,Issue price,QIB subscription,HNI subscription,Retail subscription,Total subscription,Listing open,Listing close,Listing gain,Current gain,Issue type
0,Prince Pipes,335.6,3709.9,30 Dec `19,500.0 Cr,₹ 178,3.5x,1.2x,1.9x,2.2x,160.0,166.6,-10.1%,88.5%,MainBoard
1,Ujjivan Small Finance,43.5,8420.0,12 Dec `19,750.0 Cr,₹ 37,110.7x,473.0x,49.0x,165.7x,58.8,55.9,58.8%,17.6%,MainBoard
2,CSB Bank,424.8,7368.8,04 Dec `19,409.7 Cr,₹ 195,62.2x,164.7x,44.5x,86.9x,275.0,300.1,41.0%,117.8%,MainBoard
3,Vishwaraj Sugar,9.4,205.4,16 Oct `19,60.0 Cr,₹ 60,1.0x,1.8x,0.6x,1.1x,61.2,60.4,2.0%,-84.3%,MainBoard
4,Indian Railway Catering,744.4,59548.0,14 Oct `19,645.1 Cr,₹ 320,108.8x,354.5x,14.8x,111.9x,644.0,728.6,101.3%,132.6%,MainBoard

In [356]:
sme_df.head()

,Company,LTP,Market Cap(in CR),Listing date,Issue size,Issue price,QIB subscription,HNI subscription,Retail subscription,Total subscription,Listing open,Listing close,Listing gain,Current gain,Issue type
0,DC Infotech and Comms,254.9,361.4,27 Dec `19,10.8 Cr,₹ 45,-,1.4x,1.8x,1.6x,45.5,45.2,1.1%,466.4%,SME
1,Ascom Leasing,86.0,100.8,06 Dec `19,6.3 Cr,₹ 30,-,1.9x,1.0x,1.5x,30.3,30.3,0.8%,330.3%,SME
2,Mangalam Global,16.9,556.9,28 Nov `19,21.6 Cr,₹ 51,-,2.1x,0.5x,1.3x,53.0,51.5,3.9%,397.1%,SME
3,Goblin,16.9,23.4,16 Oct `19,15.2 Cr,₹ 52,-,1.9x,0.9x,1.4x,57.9,57.9,11.3%,-67.5%,SME
4,Gensol Engineering,48.9,185.8,15 Oct `19,17.9 Cr,₹ 83,-,2.3x,0.4x,1.3x,85.4,64.7,2.9%,135.6%,SME

In [357]:
primary_data = pd.concat([mainboard_df,sme_df])

In [358]:
primary_data.head()

,Company,LTP,Market Cap(in CR),Listing date,Issue size,Issue price,QIB subscription,HNI subscription,Retail subscription,Total subscription,Listing open,Listing close,Listing gain,Current gain,Issue type
0,Prince Pipes,335.6,3709.9,30 Dec `19,500.0 Cr,₹ 178,3.5x,1.2x,1.9x,2.2x,160.0,166.6,-10.1%,88.5%,MainBoard
1,Ujjivan Small Finance,43.5,8420.0,12 Dec `19,750.0 Cr,₹ 37,110.7x,473.0x,49.0x,165.7x,58.8,55.9,58.8%,17.6%,MainBoard
2,CSB Bank,424.8,7368.8,04 Dec `19,409.7 Cr,₹ 195,62.2x,164.7x,44.5x,86.9x,275.0,300.1,41.0%,117.8%,MainBoard
3,Vishwaraj Sugar,9.4,205.4,16 Oct `19,60.0 Cr,₹ 60,1.0x,1.8x,0.6x,1.1x,61.2,60.4,2.0%,-84.3%,MainBoard
4,Indian Railway Catering,744.4,59548.0,14 Oct `19,645.1 Cr,₹ 320,108.8x,354.5x,14.8x,111.9x,644.0,728.6,101.3%,132.6%,MainBoard

In [359]:
mainboard_df.shape

(320, 15)

In [360]:
sme_df.shape

(771, 15)

In [361]:
primary_data.shape

(1091, 15)

In [362]:
for i in primary_data.columns:
    print(f"{i} --> {(primary_data[primary_data[i] == '-'].shape[0]/primary_data.shape[0])}")

Company --> 0.0
LTP --> 0.0
Market Cap(in CR) --> 0.0
Listing date --> 0.0
Issue size --> 0.0
Issue price --> 0.0
QIB subscription --> 0.39688359303391385
HNI subscription --> 0.0036663611365719525
Retail subscription --> 0.00916590284142988
Total subscription --> 0.0018331805682859762
Listing open --> 0.0
Listing close --> 0.0
Listing gain --> 0.0
Current gain --> 0.0
Issue type --> 0.0

In [363]:
primary_data[primary_data["QIB subscription"] == '-']

,Company,LTP,Market Cap(in CR),Listing date,Issue size,Issue price,QIB subscription,HNI subscription,Retail subscription,Total subscription,Listing open,Listing close,Listing gain,Current gain,Issue type
112,Vedant Asset,49.3,13.6,13 Oct `22,3.0 Cr,₹ 40,-,43.0x,55.2x,48.6x,71.7,64.8,79.1%,23.1%,MainBoard
113,Mafia Trends,14.5,6.4,06 Oct `22,3.6 Cr,₹ 28,-,3.9x,6.0x,4.9x,32.6,31.1,16.6%,-48.2%,MainBoard
128,Le Merite Exports,331.0,804.3,09 May `22,48.0 Cr,₹ 74.99,-,2.9x,9.9x,6.4x,75.0,78.8,0.0%,341.4%,MainBoard
132,Global Longlife Hospital,23.9,25.1,05 Apr `22,49.0 Cr,₹ 140,-,1.6x,1.4x,1.5x,141.1,135.3,0.8%,-82.9%,MainBoard
133,Shashwat Furnishing,60.5,12.6,05 Apr `22,2.5 Cr,₹ 44.99,-,2.4x,6.8x,4.6x,45.0,45.3,0.0%,34.5%,MainBoard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,Rexpro Enterprises,79.5,89.1,29 Jan `25,53.6 Cr,₹ 145,-,7.9x,25.9x,16.9x,117.0,111.2,-19.3%,-45.2%,SME
760,Avax Apparels and Ornaments Ltd.,120.0,12.5,14 Jan `25,1.9 Cr,₹ 70,-,133.4x,360.9x,247.2x,133.0,139.7,90.0%,71.4%,SME
763,Indobell Insulation Ltd.,145.5,91.7,13 Jan `25,10.1 Cr,₹ 46,-,48.8x,54.1x,51.5x,87.4,91.8,90.0%,216.3%,SME
765,Davin Sons Retail Ltd.,20.4,10.7,09 Jan `25,8.8 Cr,₹ 55,-,73.1x,156.5x,114.8x,44.0,46.2,-20.0%,-63.0%,SME
769,Citichem India Ltd.,27.0,18.4,03 Jan `25,12.6 Cr,₹ 70,-,263.8x,522.7x,393.2x,70.0,68.3,0.0%,-61.4%,SME

In [364]:
pd.set_option('future.no_silent_downcasting', True)
for i in primary_data.columns:
    if primary_data[primary_data[i] == '-'].shape[0] > 0:
        primary_data[primary_data[i] == '-'] = primary_data[primary_data[i] == '-'].replace("-",np.nan)
        print(f"column {i} '-' replace by nan")

column QIB subscription '-' replace by nan
column HNI subscription '-' replace by nan
column Retail subscription '-' replace by nan

In [365]:
primary_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1091 entries, 0 to 770
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              1091 non-null   object
 1   LTP                  1091 non-null   float64
 2   Market Cap(in CR)    1091 non-null   float64
 3   Listing date         1091 non-null   object
 4   Issue size           1091 non-null   object
 5   Issue price          1091 non-null   object
 6   QIB subscription     658 non-null    object
 7   HNI subscription     1087 non-null   object
 8   Retail subscription  1081 non-null   object
 9   Total subscription   1089 non-null   object
 10  Listing open         1091 non-null   float64
 11  Listing close        1091 non-null   float64
 12  Listing gain         1091 non-null   object
 13  Current gain         1091 non-null   object
 14  Issue type           1091 non-null   object
dtypes: float64(4), object(11)
memory usage: 136.4+ KB

In [366]:
primary_data["HNI subscription"].unique()

array(['1.2x', '473.0x', '164.7x', '1.8x', '354.5x', '0.9x', '0.6x',
       '198.7x', '62.1x', '113.9x', '110.4x', '3.0x', '0.8x', '2.1x',
       '1.1x', '7.7x', '620.9x', '354.1x', '0.5x', '0.2x', '678.9x',
       '0.7x', '111.8x', '449.1x', '192.8x', '351.5x', '239.8x', '45.2x',
       '1.4x', '161.2x', '19.0x', '254.2x', '85.3x', '424.7x', '4.8x',
       '42.0x', '25.4x', '666.2x', '262.1x', '184.6x', '850.7x', '3.5x',
       '172.4x', '2.3x', '7.8x', '112.0x', '4.4x', '927.7x', '11.4x',
       '1.3x', '154.8x', '33.9x', '1.0x', '41.0x', '15.7x', '5.4x',
       '213.1x', '116.3x', '360.1x', '122.5x', '512.2x', '33.0x',
       '238.0x', '206.4x', '51.9x', '1.9x', '73.3x', '0.4x', '340.0x',
       '3.1x', '389.9x', '2.8x', '217.6x', '97.4x', '382.2x', '650.8x',
       '271.1x', '31.6x', '11.5x', '32.7x', '39.0x', '263.1x', '2.7x',
       '18.7x', '3.3x', '1.5x', '17.9x', '52.3x', '21.2x', '14.9x',
       '7.1x', '4.0x', '44.0x', '63.6x', '43.0x', '3.9x', '71.3x', '2.9x',
       '37.7x', '17.5x', '2.5x', '0.3x', '3.7x', '22.3x', '8.9x', '2.2x',
       '1.6x', '2.4x', '56.3x', '25.6x', '65.0x', '87.6x', '9.3x',
       '55.5x', '62.2x', '233.9x', '13.2x', '18.9x', '53.2x', '28.5x',
       '66.5x', '33.4x', '24.2x', '35.5x', '84.4x', '24.4x', '13.6x',
       '48.3x', '388.1x', '73.6x', '5.2x', '16.0x', '13.5x', '8.8x',
       '82.3x', '34.8x', '31.3x', '135.2x', '111.0x', '126.1x', '32.2x',
       '17.0x', '49.1x', '37.2x', '81.8x', '81.6x', '35.0x', '45.0x',
       '80.6x', '63.4x', '6.2x', '3.8x', '64.1x', '33.1x', '263.8x',
       '96.1x', '13.8x', '14.2x', '76.4x', '42.2x', '274.4x', '98.6x',
       '24.8x', '23.3x', '109.0x', '4.9x', nan, '153.8x', '5.0x', '62.5x',
       '82.5x', '9.0x', '207.6x', '431.6x', '511.6x', '163.0x', '142.4x',
       '44.7x', '56.1x', '22.2x', '27.4x', '41.5x', '102.3x', '414.6x',
       '59.4x', '71.2x', '50.0x', '300.6x', '128.4x', '358.5x', '252.5x',
       '4.7x', '14.4x', '136.5x', '51.5x', '208.8x', '32.4x', '119.5x',
       '130.3x', '144.0x', '110.5x', '303.0x', '129.8x', '7.2x', '50.6x',
       '16.5x', '55.1x', '4.1x', '10.5x', '214.9x', '43.9x', '9.5x',
       '46.3x', '34.4x', '6.9x', '250.4x', '141.8x', '153.2x', '11.0x',
       '721.3x', '62.8x', '25.1x', '52.4x', '300.1x', '224.1x', '28.1x',
       '14.8x', '36.5x', '42.4x', '22.8x', '76.2x', '48.4x', '31.8x',
       '10.0x', '15.2x', '143.2x', '36.7x', '113.0x', '222.1x', '38.3x',
       '237.4x', '6.5x', '507.3x', '422.4x', '147.9x', '9.2x', '254.7x',
       '268.5x', '503.8x', '1.7x', '2.0x', '2.6x', '10.6x', '3.6x',
       '292.9x', '53.1x', '8.5x', '0.1x', '16.3x', '8.7x', '79.0x',
       '6.7x', '6.8x', '10.4x', '3.2x', '10.3x', '93.1x', '15.5x',
       '242.9x', '287.8x', '237.1x', '213.2x', '467.9x', '144.3x',
       '259.2x', '323.5x', '19.8x', '186.0x', '204.1x', '83.2x', '14.7x',
       '554.8x', '70.9x', '11.6x', '150.0x', '70.1x', '62.6x', '307.4x',
       '129.6x', '84.6x', '154.1x', '36.2x', '301.1x', '5.8x', '116.5x',
       '52.8x', '97.5x', '112.9x', '21.6x', '18.6x', '8.4x', '517.7x',
       '355.9x', '101.7x', '107.4x', '10.2x', '4.2x', '138.3x', '23.7x',
       '13.4x', '7.4x', '13.9x', '159.9x', '126.4x', '771.6x', '4.6x',
       '5.6x', '27.7x', '37.0x', '107.0x', '64.6x', '4.5x', '141.4x',
       '9.4x', '825.8x', '159.3x', '42.6x', '8.6x', '6.6x', '179.9x',
       '441.6x', '651.2x', '127.0x', '766.7x', '201.9x', '822.1x',
       '17.2x', '473.2x', '435.9x', '26.7x', '438.7x', '44.9x', '27.8x',
       '188.6x', '440.4x', '34.0x', '1021.4x', '94.2x', '16.9x', '111.5x',
       '11.1x', '557.0x', '345.2x', '53.6x', '413.8x', '89.5x', '37.9x',
       '36.9x', '518.9x', '132.2x', '39.8x', '34.6x', '15.0x', '126.8x',
       '196.2x', '20.9x', '448.2x', '267.1x', '5.7x', '101.2x', '310.7x',
       '23.1x', '39.2x', '9.7x', '764.7x', '321.7x', '88.7x', '50.4x',
       '137.0x', '66.3x', '393.1x', '628.4x', '188.0x', '100.8x',
       '365.7x', '33.2x', '6.4x', '1044.5x', '239.3x', '101.0x', '333.4x',
       '57.0x', '45.3x', '7.9x', '334.2x', '226.4x', '37.3x', '316.0x',
       '224.3x', '4.3x', '204.4x', '149.7x', '127.9x', '5.9x', '33.6x',
       '275.8x', '36.4x', '47.4x', '120.8x', '800.4x', '203.3x', '308.6x',
       '229.3x', '786.9x', '235.7x', '224.9x', '60.2x', '165.0x', '55.0x',
       '464.5x', '46.8x', '307.1x', '230.4x', '35.1x', '16.1x', '5.3x',
       '660.0x', '39.1x', '190.1x', '445.1x', '200.0x', '6.3x', '285.8x',
       '58.1x', '255.9x', '883.6x', '26.8x', '23.5x', '1357.7x',
       '5237.1x', '719.8x', '439.0x', '1281.8x', '1010.5x', '1722.9x',
       '1199.3x', '592.0x', '1072.3x', '20.6x', '1554.3x', '310.2x',
       '1750.0x', '185.2x', '799.9x', '364.0x', '38.2x', '360.6x',
       '166.4x', '635.5x', '1455.3x', '980.5x', '605.9x', '21.8x',
       '180.4x', '104.7x', '78.2x', '346.8x', '101.3x', '8.1x', '338.4x',
       '171.8x', '81.2x', '654.2x', '994.8x', '67.9x', '108.2x', '45.6x',
       '276.3x', '70.5x', '293.2x', '72.4x', '427.3x', '221.7x', '182.9x',
       '492.6x', '299.0x', '21.3x', '327.4x', '11.9x', '211.9x', '293.0x',
       '524.5x', '265.8x', '425.7x', '98.5x', '747.8x', '6.0x', '94.3x',
       '586.4x', '306.6x', '58.6x', '501.8x', '324.3x', '103.1x',
       '566.3x', '932.7x', '1813.5x', '84.0x', '775.6x', '1071.8x',
       '2577.7x', '512.0x', '520.6x', '379.7x', '86.1x', '478.9x',
       '540.0x', '334.3x', '385.3x', '86.9x', '1518.1x', '514.3x',
       '451.8x', '1000.4x', '622.4x', '923.4x', '961.0x', '335.9x',
       '678.5x', '15.3x', '305.5x', '1286.9x', '7.3x', '372.4x', '210.8x',
       '755.1x', '288.8x', '1132.8x', '616.3x', '650.4x', '279.0x',
       '2214.8x', '206.8x', '169.5x', '632.9x', '578.5x', '72.2x',
       '67.3x', '1773.0x', '207.1x', '95.5x', '438.8x', '330.0x', '43.1x',
       '2258.4x', '98.0x', '1126.3x', '686.2x', '269.1x', '208.9x',
       '1106.5x', '1038.6x', '599.4x', '246.3x', '1317.4x', '1794.0x',
       '250.7x', '1039.5x', '354.6x', '781.3x', '58.5x', '239.7x',
       '252.8x', '115.5x', '804.4x', '29.2x', '616.8x', '1447.0x',
       '34.1x', '718.1x', '422.8x', '722.0x', '530.0x', '637.7x', '90.7x',
       '416.4x', '893.2x', '92.4x', '5.1x', '628.7x', '130.4x', '54.6x',
       '147.1x', '1022.0x', '646.3x', '325.1x', '34.5x', '40.8x',
       '703.0x', '12.2x', '36.0x', '1266.9x', '57.5x', '1962.0x',
       '426.6x', '357.5x', '614.0x', '353.3x', '737.7x', '81.3x',
       '938.9x', '428.1x', '175.7x', '309.0x', '296.4x', '960.4x',
       '1151.4x', '481.4x', '668.1x', '281.9x', '168.4x', '349.0x',
       '408.5x', '134.4x', '1091.7x', '445.6x', '185.1x', '561.5x',
       '533.7x', '74.8x', '2574.0x', '1028.2x', '544.8x', '9.6x',
       '1110.0x', '2184.5x', '316.8x', '63.7x', '800.1x', '7.0x', '53.5x',
       '12.1x', '484.0x', '472.5x', '612.9x', '8.0x', '405.2x', '1537.6x',
       '12.6x', '481.6x', '341.6x', '732.4x', '225.5x', '75.2x', '126.0x',
       '704.0x', '33.3x', '951.4x', '17.1x', '639.8x', '834.8x', '94.5x',
       '343.4x', '611.9x', '1075.3x', '561.9x', '282.6x', '277.5x',
       '13.1x', '790.8x', '2046.7x', '560.9x', '98.2x', '242.8x',
       '310.9x', '40.7x', '28.6x', '24.6x', '24.3x', '80.8x', '5.5x',
       '2558.0x', '458.0x', '722.7x', '245.2x', '394.9x', '590.7x',
       '156.3x', '695.8x', '821.5x', '495.3x', '1069.0x', '133.4x',
       '806.9x', '338.8x', '48.8x', '1974.4x', '73.1x', '1597.6x',
       '525.7x', '1425.0x', '1463.9x'], dtype=object)

In [367]:
def clean_primary_data(df):
    pd.set_option('future.no_silent_downcasting', True)
    return (
        df
        .assign(
            **{
                col : df[col].str.strip()
                for col in df.select_dtypes("O")
            }
        )
        .rename(columns=str.lower)
        .assign(
            listing_date = lambda df_ : pd.to_datetime(df_['listing date'].str.replace(" `"," ")),
            issue_size_cr = lambda df_ : pd.to_numeric(df_['issue size'].str.replace(" Cr","")),
            issue_price_rupee = lambda df_ : pd.to_numeric(df_['issue price'].str.replace("₹ ","")),
            qib_subscription = lambda df_ : pd.to_numeric(df_['qib subscription'].str.replace("x","")),
            hni_subscription = lambda df_ : pd.to_numeric(df_['hni subscription'].str.replace("x","")),
            retail_subscription = lambda df_ : pd.to_numeric(df_['retail subscription'].str.replace("x","")),
            total_subscription = lambda df_ : pd.to_numeric(df_['total subscription'].str.replace("x","")),
            listing_gain = lambda df_ : pd.to_numeric(df_['listing gain'].str.replace("%","")),
            current_gain = lambda df_ : pd.to_numeric(df_['current gain'].str.replace("%",""))
        )
        .drop(['listing date','issue size','issue price','qib subscription','hni subscription','retail subscription','total subscription'
              ,'listing gain','current gain'],axis=1)
        .rename(columns={
            "listing_date":"listing date",
            "issue_size_cr":"issue size (in Cr)",
            "issue_price_rupee":"issue price (in rupee)",
            "qib_subscription":"qib subscription",
            "hni_subscription":"hni subscription",
            "retail_subscription":"retail subscription",
            "total_subscription":"total subscription",
            "listing_gain":"listing gain %",
            "current_gain":"current gain %",
        })
    )

clean_primary_data(primary_data)

C:\Users\Aniket\AppData\Local\Temp\ipykernel_6040\2153718167.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  listing_date = lambda df_ : pd.to_datetime(df_['listing date'].str.replace(" `"," ")),

,company,ltp,market cap(in cr),listing open,listing close,issue type,listing date,issue size (in Cr),issue price (in rupee),qib subscription,hni subscription,retail subscription,total subscription,listing gain %,current gain %
0,Prince Pipes,335.6,3709.9,160.0,166.6,MainBoard,2019-12-30,500.0,178.0,3.5,1.2,1.9,2.2,-10.1,88.5
1,Ujjivan Small Finance,43.5,8420.0,58.8,55.9,MainBoard,2019-12-12,750.0,37.0,110.7,473.0,49.0,165.7,58.8,17.6
2,CSB Bank,424.8,7368.8,275.0,300.1,MainBoard,2019-12-04,409.7,195.0,62.2,164.7,44.5,86.9,41.0,117.8
3,Vishwaraj Sugar,9.4,205.4,61.2,60.4,MainBoard,2019-10-16,60.0,60.0,1.0,1.8,0.6,1.1,2.0,-84.3
4,Indian Railway Catering,744.4,59548.0,644.0,728.6,MainBoard,2019-10-14,645.1,320.0,108.8,354.5,14.8,111.9,101.3,132.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,Parmeshwar Metal Ltd.,68.0,104.1,84.5,88.7,SME,2025-01-09,24.7,61.0,94.1,1597.6,792.4,564.0,38.5,11.5
767,Leo Dryfruits & Spices Trading Ltd.,78.0,139.6,68.0,71.4,SME,2025-01-08,25.1,52.0,35.6,525.7,207.0,169.1,30.8,50.0
768,Technichem Organics Ltd.,42.0,72.7,57.3,60.1,SME,2025-01-07,25.3,55.0,53.5,1425.0,434.6,392.6,4.1,-23.7
769,Citichem India Ltd.,27.0,18.4,70.0,68.3,SME,2025-01-03,12.6,70.0,NaN,263.8,522.7,393.2,0.0,-61.4
770,Anya Polytech Fertilizers,26.6,319.2,17.1,17.9,SME,2025-01-02,44.8,14.0,80.1,1463.9,427.5,409.3,22.1,90.0

In [368]:
cleaned_primary_data = clean_primary_data(primary_data)

C:\Users\Aniket\AppData\Local\Temp\ipykernel_6040\2153718167.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  listing_date = lambda df_ : pd.to_datetime(df_['listing date'].str.replace(" `"," ")),

### Secondary Data Cleaning

In [370]:
secondary_data_df.columns

Index(['Unnamed: 0', 'Company', 'Subscritpion Status', 'Minimum Investment',
       'Lot size', 'Issue size', 'No. of Shares', 'Price Range',
       'Post issue promoter holding', 'Sector', 'Industry',
       'Nse_symbol_Bse_Code'],
      dtype='object')

In [371]:
secondary_data = secondary_data_df[['Company', 'Subscritpion Status', 'Minimum Investment',
       'Lot size', 'Issue size', 'No. of Shares', 'Price Range', 'Sector', 'Industry']]

In [372]:
secondary_data

,Company,Subscritpion Status,Minimum Investment,Lot size,Issue size,No. of Shares,Price Range,Sector,Industry
0,Prince Pipes,2.21 x Oversubscribed,"₹14,952",84,"₹5,000.0 M - ₹5,028.2 M",28.2 M,₹177 - ₹178,SECTOR : GENERAL INDUSTRIALS,INDUSTRY : PLASTIC PRODUCTS
1,DC Infotech and Comms,1.56 x Oversubscribed,"₹135,000",3000,₹108.0 M,2.4 M,₹45,SECTOR : HARDWARE TECHNOLOGY & EQUIPMENT,INDUSTRY : IT NETWORKING EQUIPMENT
2,Ujjivan Small Finance,165.66 x Oversubscribed,"₹14,800",400,"₹7,500.0 M - ₹7,708.3 M",208.3 M,₹36 - ₹37,SECTOR : BANKING AND FINANCE,INDUSTRY : MICROFINANCE INSTITUTIONS
3,Ascom Leasing,1.47 x Oversubscribed,"₹120,000",4000,₹63.2 M,2.1 M,₹30,SECTOR : BANKING AND FINANCE,INDUSTRY : FINANCE (INCLUDING NBFCS)
4,CSB Bank,86.91 x Oversubscribed,"₹14,625",75,"₹4,057.2 M - ₹4,099.3 M",21.0 M,₹193 - ₹195,SECTOR : BANKING AND FINANCE,INDUSTRY : BANKS
...,...,...,...,...,...,...,...,...,...
1086,Leo Dryfruits & Spices Trading Ltd.,169.08 x Oversubscribed,"₹102,000",2000,₹246.3 M - ₹251.2 M,4.8 M,₹51 - ₹52,SECTOR : FOOD BEVERAGES & TOBACCO,INDUSTRY : OTHER FOOD & BEVERAGES
1087,Indo Farm Equipment,229.68 x Oversubscribed,"₹14,076",69,"₹2,468.4 M - ₹2,601.5 M",12.1 M,₹204 - ₹215,SECTOR : AUTOMOBILES & AUTO COMPONENTS,INDUSTRY : COMMERCIAL VEHICLES
1088,Technichem Organics Ltd.,392.62 x Oversubscribed,"₹104,000",2000,₹238.7 M - ₹252.4 M,4.6 M,₹52 - ₹55,SECTOR : CHEMICALS & PETROCHEMICALS,INDUSTRY : SPECIALTY CHEMICALS
1089,Citichem India Ltd.,393.22 x Oversubscribed,"₹140,000",2000,₹126.0 M,1.8 M,₹70,SECTOR : COMMERCIAL SERVICES & SUPPLIES,INDUSTRY : COMMODITY TRADING & DISTRIBUTION
1090,Anya Polytech Fertilizers,409.28 x Oversubscribed,"₹130,000",10000,₹416.0 M - ₹448.0 M,32.0 M,₹13 - ₹14,SECTOR : COMMERCIAL SERVICES & SUPPLIES,INDUSTRY : CONTAINERS & PACKAGING

In [373]:
for i in secondary_data.columns:
    print(f"{i} --> {secondary_data[i].isnull().sum()}")
    # print(secondary_data[secondary_data[i] == '-'].shape[0])

Company --> 0
Subscritpion Status --> 2
Minimum Investment --> 0
Lot size --> 0
Issue size --> 0
No. of Shares --> 0
Price Range --> 0
Sector --> 0
Industry --> 2

In [374]:
secondary_data = secondary_data.replace('-',np.nan)

In [375]:
secondary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              1091 non-null   object
 1   Subscritpion Status  1089 non-null   object
 2   Minimum Investment   1091 non-null   object
 3   Lot size             1091 non-null   int64
 4   Issue size           1091 non-null   object
 5   No. of Shares        1090 non-null   object
 6   Price Range          1091 non-null   object
 7   Sector               1091 non-null   object
 8   Industry             1089 non-null   object
dtypes: int64(1), object(8)
memory usage: 76.8+ KB

In [376]:
secondary_data.columns

Index(['Company', 'Subscritpion Status', 'Minimum Investment', 'Lot size',
       'Issue size', 'No. of Shares', 'Price Range', 'Sector', 'Industry'],
      dtype='object')

In [377]:
secondary_data['Price Range'].unique()

array(['₹177 - ₹178', '₹45', '₹36 - ₹37', '₹30', '₹193 - ₹195', '₹51',
       '₹51 - ₹52', '₹55 - ₹60', '₹81 - ₹83', '₹10', '₹315 - ₹320', '₹23',
       '₹27', '₹44', '₹24', '₹130', '₹84', '₹775 - ₹780', '₹853 - ₹856',
       '₹740 - ₹745', '₹89', '₹20', '₹29', '₹36', '₹970 - ₹973', '₹22',
       '₹73 - ₹75', '₹61', '₹54 - ₹60', '₹52', '₹63', '₹212 - ₹215',
       '₹32', '₹59', '₹533 - ₹538', '₹877 - ₹880', '₹17 - ₹19', '₹252',
       '₹43', '₹299 - ₹300', '₹120 - ₹128', '₹34 - ₹36', '₹132', '₹34',
       '₹37', '₹33', '₹275 - ₹280', '₹71 - ₹73', '₹62 - ₹66',
       '₹286 - ₹288', '₹59 - ₹60', '₹1490 - ₹1500', '₹32 - ₹33', '₹40',
       '₹95', '₹72', '₹116 - ₹120', '₹159', '₹42', '₹552 - ₹554',
       '₹135 - ₹145', '₹305 - ₹306', '₹1229 - ₹1230', '₹338 - ₹340',
       '₹135', '₹345 - ₹350', '₹165 - ₹166', '₹105', '₹15', '₹274 - ₹275',
       '₹423 - ₹425', '₹28', '₹100', '₹185', '₹18', '₹750 - ₹755', '₹50',
       '₹46', '₹205 - ₹216', '₹82', '₹55', '₹171', '₹265 - ₹274', '₹225',
       '₹262 - ₹274', '₹555 - ₹585', '₹70', '₹60', '₹780 - ₹796',
       '₹485 - ₹500', '₹1000 - ₹1033', '₹113 - ₹118', '₹405 - ₹425',
       '₹530 - ₹550', '₹443 - ₹453', '₹870 - ₹900', '₹21', '₹655 - ₹690',
       '₹635 - ₹662', '₹190 - ₹197', '₹1120 - ₹1180', '₹2080 - ₹2150',
       '₹161 - ₹163', '₹531 - ₹542', '₹940 - ₹980', '₹560 - ₹577', '₹125',
       '₹1085 - ₹1125', '₹62', '₹180', '₹11', '₹93', '₹695 - ₹712', '₹69',
       '₹165 - ₹175', '₹111', '₹78', '₹734 - ₹744', '₹58', '₹92',
       '₹71 - ₹74', '₹522 - ₹531', '₹603 - ₹610', '₹346 - ₹353', '₹121',
       '₹65', '₹530 - ₹541', '₹560 - ₹570', '₹1585 - ₹1618',
       '₹448 - ₹460', '₹118 - ₹120', '₹86 - ₹90', '₹933 - ₹954', '₹26',
       '₹76 - ₹80', '₹880 - ₹900', '₹170', '₹695 - ₹720', '₹1073 - ₹1083',
       '₹72 - ₹76', '₹828 - ₹837', '₹19', '₹290 - ₹296', '₹815 - ₹825',
       '₹421 - ₹428', '₹25', '₹285 - ₹291', '₹303 - ₹306', '₹483 - ₹486',
       '₹37 - ₹39', '₹498 - ₹500', '₹57', '₹100 - ₹102', '₹201',
       '₹1100 - ₹1101', '₹303 - ₹305', '₹86 - ₹87', '₹1488 - ₹1490',
       '₹129 - ₹130', '₹553 - ₹555', '₹186 - ₹187', '₹574 - ₹575', '₹74',
       '₹626 - ₹627', '₹165', '₹93 - ₹94', '₹396 - ₹400', '₹384 - ₹385',
       '₹517 - ₹518', '₹25 - ₹26', '₹313 - ₹315', '₹234 - ₹247', '₹153',
       '₹347 - ₹366', '₹90', '₹35', '₹481 - ₹506', '₹52 - ₹54',
       '₹256 - ₹270', '₹340 - ₹357', '₹87 - ₹90', '₹548 - ₹577',
       '₹216 - ₹237', '₹514 - ₹541', '₹61 - ₹65', '₹559 - ₹587',
       '₹386 - ₹407', '₹13', '₹450 - ₹474', '₹285 - ₹300', '₹319 - ₹336',
       '₹81', '₹350 - ₹368', '₹95 - ₹101', '₹197 - ₹207', '₹75',
       '₹91 - ₹95', '₹103', '₹75 - ₹80', '₹56 - ₹59', '₹97 - ₹102',
       '₹97 - ₹100', '₹36 - ₹38', '₹96', '₹101', '₹171 - ₹180',
       '₹53 - ₹55', '₹68 - ₹70', '₹122', '₹314 - ₹330', '₹80', '₹48',
       '₹56', '₹500 - ₹525', '₹126', '₹38', '₹308 - ₹326', '₹209 - ₹220',
       '₹120', '₹67', '₹186', '₹610 - ₹642', '₹243 - ₹256', '₹836 - ₹878',
       '₹39 - ₹42', '₹310 - ₹326', '₹462 - ₹487', '₹595 - ₹630',
       '₹902 - ₹949', '₹516 - ₹542', '₹278 - ₹292', '₹74.99', '₹50.02',
       '₹150', '₹144 - ₹153', '₹41', '₹65 - ₹68', '₹130 - ₹137', '₹140',
       '₹44.99', '₹111 - ₹114', '₹71 - ₹75', '₹73', '₹824 - ₹866',
       '₹218 - ₹230', '₹166 - ₹175', '₹33 - ₹35', '₹426 - ₹448',
       '₹499 - ₹524', '₹95 - ₹100', '₹266 - ₹280', '₹808 - ₹850',
       '₹66 - ₹70', '₹52 - ₹55', '₹277 - ₹291', '₹340 - ₹360',
       '₹627 - ₹660', '₹66', '₹43 - ₹46', '₹469 - ₹493', '₹750 - ₹790',
       '₹121 - ₹125', '₹133 - ₹140', '₹16 - ₹18', '₹121 - ₹126',
       '₹80 - ₹86', '₹288 - ₹304', '₹160 - ₹169', '₹475 - ₹500',
       '₹136 - ₹140', '₹30 - ₹32', '₹233', '₹137 - ₹139', '₹80 - ₹83',
       '₹268 - ₹282', '₹752 - ₹792', '₹57 - ₹60', '₹308 - ₹324',
       '₹78 - ₹82', '₹617 - ₹648', '₹67 - ₹70', '₹108', '₹91',
       '₹329 - ₹346', '₹208', '₹47 - ₹50', '₹86', '₹480 - ₹505', '₹77',
       '₹51 - ₹54', '₹76', '₹145', '₹99', '₹29 - ₹31', '₹68', '₹200',
       '₹162 - ₹165', '₹44 - ₹47', '₹280 - ₹300', '₹168 - ₹171',
       '₹204 - ₹215', '₹113 - ₹119', '₹92 - ₹97', '₹135 - ₹142',
       '₹87 - ₹92', '₹366 - ₹385', '₹160', '₹210 - ₹222', '₹60 - ₹65',
       '₹156 - ₹164', '₹119 - ₹126', '₹200 - ₹211', '₹126 - ₹132', '₹102',
       '₹983 - ₹1035', '₹695 - ₹735', '₹418 - ₹441', '₹93 - ₹98',
       '₹26 - ₹28', '₹94 - ₹99', '₹102 - ₹108', '₹83', '₹151 - ₹166',
       '₹187 - ₹197', '₹705 - ₹741', '₹40 - ₹42', '₹37 - ₹40',
       '₹54 - ₹57', '₹115 - ₹118', '₹121 - ₹128', '₹54 - ₹61',
       '₹63 - ₹67', '₹23 - ₹25', '₹62 - ₹65', '₹157', '₹55 - ₹58',
       '₹301 - ₹317', '₹35 - ₹42', '₹237', '₹49', '₹250 - ₹265',
       '₹65 - ₹70', '₹638 - ₹672', '₹101 - ₹107', '₹82 - ₹87', '₹175',
       '₹169 - ₹173', '₹270 - ₹285', '₹132 - ₹135', '₹80 - ₹82', '₹771',
       '₹85 - ₹90', '₹1150 - ₹1229', '₹74 - ₹78', '₹76 - ₹78',
       '₹1026 - ₹1080', '₹415 - ₹436', '₹47', '₹61 - ₹64', '₹105 - ₹111',
       '₹60 - ₹63', '₹146', '₹91 - ₹96', '₹560 - ₹590', '₹45 - ₹47',
       '₹96 - ₹102', '₹220 - ₹225', '₹55 - ₹57', '₹38 - ₹40', '₹71',
       '₹197', '₹745 - ₹785', '₹372 - ₹391', '₹668 - ₹704', '₹610 - ₹643',
       '₹665 - ₹701', '₹410 - ₹432', '₹305 - ₹321', '₹230 - ₹243',
       '₹269 - ₹283', '₹397 - ₹417', '₹1265 - ₹1329', '₹138 - ₹146',
       '₹265 - ₹279', '₹522 - ₹549', '₹172 - ₹182', '₹68 - ₹72',
       '₹90 - ₹95', '₹170 - ₹180', '₹1000000 - ₹1050000', '₹420 - ₹441',
       '₹78 - ₹83', '₹105 - ₹108', '₹214 - ₹226', '₹123 - ₹130',
       '₹319 - ₹335', '₹140 - ₹148', '₹259 - ₹273', '₹58 - ₹61',
       '₹20 - ₹24', '₹70 - ₹74', '₹275 - ₹289', '₹371 - ₹390',
       '₹28 - ₹30', '₹440 - ₹463', '₹160 - ₹168', '₹334 - ₹352',
       '₹360 - ₹380', '₹1427 - ₹1503', '₹192 - ₹203', '₹46 - ₹49',
       '₹110 - ₹116', '₹1865 - ₹1960', '₹73 - ₹77', '₹92 - ₹95',
       '₹158 - ₹166', '₹144 - ₹152', '₹111 - ₹117', '₹435 - ₹458',
       '₹159 - ₹168', '₹60 - ₹64', '₹42 - ₹44', '₹75 - ₹82',
       '₹114 - ₹120', '₹142 - ₹150', '₹59 - ₹62', '₹124 - ₹131',
       '₹57 - ₹59', '₹190 - ₹200', '₹249 - ₹263', '₹155 - ₹160',
       '₹163 - ₹172', '₹53 - ₹56', '₹456 - ₹480', '₹228 - ₹240',
       '₹215 - ₹226', '₹155 - ₹163', '₹104 - ₹110', '₹214 - ₹225',
       '₹80 - ₹85', '₹59 - ₹61', '₹503 - ₹529', '₹370 - ₹389', '₹110',
       '₹318 - ₹334', '₹427 - ₹450', '₹112', '₹117', '₹195 - ₹206',
       '₹77 - ₹80', '₹850 - ₹900', '₹100 - ₹105', '₹238 - ₹250',
       '₹152 - ₹160', '₹440 - ₹465', '₹22 - ₹24', '₹380 - ₹401',
       '₹102 - ₹106', '₹136 - ₹144', '₹646 - ₹679', '₹56 - ₹58',
       '₹110 - ₹115', '₹91 - ₹93', '₹98 - ₹105', '₹200 - ₹210',
       '₹67 - ₹69', '₹181 - ₹190', '₹960 - ₹1008', '₹195 - ₹207',
       '₹267 - ₹281', '₹162 - ₹171', '₹36 - ₹40', '₹62 - ₹64',
       '₹351 - ₹369', '₹32 - ₹34', '₹193 - ₹203', '₹90 - ₹94',
       '₹88 - ₹93', '₹129 - ₹136', '₹153 - ₹161', '₹139 - ₹147',
       '₹364 - ₹383', '₹223 - ₹235', '₹258 - ₹272', '₹93 - ₹97',
       '₹125 - ₹132', '₹140 - ₹147', '₹109 - ₹114', '₹94', '₹131 - ₹138',
       '₹875 - ₹920', '₹300 - ₹315', '₹27 - ₹31', '₹123', '₹430 - ₹452',
       '₹79', '₹73 - ₹78', '₹395 - ₹415', '₹10 - ₹11', '₹542 - ₹570',
       '₹75 - ₹81', '₹70 - ₹73', '₹111 - ₹119', '₹100 - ₹106',
       '₹84 - ₹89', '₹137 - ₹144', '₹680 - ₹715', '₹280 - ₹295',
       '₹381 - ₹401', '₹220 - ₹227', '₹210 - ₹221', '₹136 - ₹143',
       '₹270 - ₹288', '₹98 - ₹100', '₹85', '₹70 - ₹71', '₹83 - ₹87',
       '₹177 - ₹186', '₹342 - ₹360', '₹75 - ₹79', '₹129', '₹216 - ₹227',
       '₹80 - ₹84', '₹141 - ₹151', '₹1195 - ₹1258', '₹54', '₹109 - ₹115',
       '₹295 - ₹311', '₹393 - ₹414', '₹445 - ₹468', '₹147 - ₹155',
       '₹129 - ₹135', '₹100 - ₹108', '₹42 - ₹45', '₹186 - ₹192',
       '₹39 - ₹41', '₹156', '₹130 - ₹140', '₹96 - ₹100', '₹397 - ₹418',
       '₹31 - ₹33', '₹143', '₹315 - ₹331', '₹271 - ₹286', '₹540 - ₹570',
       '₹90 - ₹96', '₹387 - ₹407', '₹115 - ₹123', '₹1045 - ₹1100',
       '₹236 - ₹248', '₹233 - ₹245', '₹143 - ₹147', '₹115', '₹65 - ₹69',
       '₹95 - ₹110', '₹77 - ₹82', '₹700 - ₹740', '₹81 - ₹86',
       '₹387 - ₹414', '₹380 - ₹400', '₹67 - ₹71', '₹85 - ₹91', '₹98',
       '₹125 - ₹128', '₹584 - ₹614', '₹135 - ₹143', '₹100 - ₹110',
       '₹115 - ₹122', '₹95 - ₹105', '₹95 - ₹104', '₹128 - ₹135',
       '₹413 - ₹435', '₹260 - ₹273', '₹96 - ₹101', '₹304 - ₹321',
       '₹112 - ₹118', '₹147 - ₹150', '₹178 - ₹181', '₹183 - ₹192',
       '₹107 - ₹113', '₹234', '₹401 - ₹425', '₹674 - ₹708', '₹132 - ₹140',
       '₹599 - ₹629', '₹151 - ₹159', '₹121 - ₹123', '₹181 - ₹191',
       '₹382 - ₹402', '₹95 - ₹102', '₹235 - ₹250', '₹279 - ₹294',
       '₹250 - ₹263', '₹117 - ₹124', '₹70 - ₹72', '₹82 - ₹86',
       '₹407 - ₹428', '₹99 - ₹100', '₹77 - ₹81', '₹275 - ₹290',
       '₹57 - ₹61', '₹13 - ₹14'], dtype=object)

In [378]:
def conversion(row):
    try:
        if "M" in row:
            row = pd.to_numeric(row.replace("M","")) * 10
            return row
        else:
            row = pd.to_numeric(row.replace("K","")) / 100000
            return row

    except:
        if type(row) == float:
            return row

In [379]:
def fill_max(row):
    if pd.isna(row['max_price_range']):
        return row['min_price_range']
    else:
        return row['max_price_range']

In [380]:
# Artedz fabs is textile based industry and TEXTILES APPARELS & ACCESSORIES based sector and Trekkingtoes.com is based on Tourism industry and hotels restaurants & tourism sector
fill_dict = {
    48 : 'TEXTILES',
    84 : 'TOURISM'
}

In [381]:
def clean_secondary_data(df):

    return (
        df
        .assign(
            **{
                col : df[col].str.strip()
                for col in df.select_dtypes(include='O')
            }
        )
        .rename(columns = str.lower)
        .assign(
            minimum_investment_rupee = lambda df_ : pd.to_numeric(df_['minimum investment'].str.replace("₹","").str.replace(",","")),
            # price_min_value = lambda df_ : df_['price range'].str.
            subscription_status = lambda df_ : df_['subscritpion status'].str.split("x").str[1].str.strip(),
            price_range = lambda df_ : df_['price range'].str.split('-'),
            min_price_range = lambda df_ : pd.to_numeric(df_['price_range'].str[0].str.replace("₹","").str.strip()),
            max_price_range = lambda df_ : pd.to_numeric(df_['price_range'].str[1].str.replace("₹","").str.strip()),
            # i'm thinking to take no.of shares in lakhs
            no_of_share = lambda df_ : df_['no. of shares'].apply(conversion),
            sector = lambda df_ : df_['sector'].str[8:].str.strip(),
            industry = lambda df_ : df_['industry'].str[10:].str.strip()
        )
        .drop(['minimum investment',"issue size",'price_range','price range','no. of shares'
              ,'subscritpion status'],axis=1)
        .assign(
            subscription_status = lambda df_ : df_['subscription_status'].fillna(df_['subscription_status'].value_counts().index[0]),
            max_price_range = lambda df_ : df_.apply(fill_max,axis=1),
            industry = lambda df_ : df_['industry'].fillna(fill_dict)
        )
        
    )

cleaned_secondary_data = clean_secondary_data(secondary_data)

In [382]:
cleaned_secondary_data#.iloc[0,1]

,company,lot size,sector,industry,minimum_investment_rupee,subscription_status,min_price_range,max_price_range,no_of_share
0,Prince Pipes,84,GENERAL INDUSTRIALS,PLASTIC PRODUCTS,14952,Oversubscribed,177.0,178.0,282.0
1,DC Infotech and Comms,3000,HARDWARE TECHNOLOGY & EQUIPMENT,IT NETWORKING EQUIPMENT,135000,Oversubscribed,45.0,45.0,24.0
2,Ujjivan Small Finance,400,BANKING AND FINANCE,MICROFINANCE INSTITUTIONS,14800,Oversubscribed,36.0,37.0,2083.0
3,Ascom Leasing,4000,BANKING AND FINANCE,FINANCE (INCLUDING NBFCS),120000,Oversubscribed,30.0,30.0,21.0
4,CSB Bank,75,BANKING AND FINANCE,BANKS,14625,Oversubscribed,193.0,195.0,210.0
...,...,...,...,...,...,...,...,...,...
1086,Leo Dryfruits & Spices Trading Ltd.,2000,FOOD BEVERAGES & TOBACCO,OTHER FOOD & BEVERAGES,102000,Oversubscribed,51.0,52.0,48.0
1087,Indo Farm Equipment,69,AUTOMOBILES & AUTO COMPONENTS,COMMERCIAL VEHICLES,14076,Oversubscribed,204.0,215.0,121.0
1088,Technichem Organics Ltd.,2000,CHEMICALS & PETROCHEMICALS,SPECIALTY CHEMICALS,104000,Oversubscribed,52.0,55.0,46.0
1089,Citichem India Ltd.,2000,COMMERCIAL SERVICES & SUPPLIES,COMMODITY TRADING & DISTRIBUTION,140000,Oversubscribed,70.0,70.0,18.0
1090,Anya Polytech Fertilizers,10000,COMMERCIAL SERVICES & SUPPLIES,CONTAINERS & PACKAGING,130000,Oversubscribed,13.0,14.0,320.0

In [383]:
cleaned_secondary_data.isnull().sum()

company                     0
lot size                    0
sector                      0
industry                    0
minimum_investment_rupee    0
subscription_status         0
min_price_range             0
max_price_range             0
no_of_share                 5
dtype: int64

In [384]:
cleaned_secondary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   1091 non-null   object
 1   lot size                  1091 non-null   int64
 2   sector                    1091 non-null   object
 3   industry                  1091 non-null   object
 4   minimum_investment_rupee  1091 non-null   int64
 5   subscription_status       1091 non-null   object
 6   min_price_range           1091 non-null   float64
 7   max_price_range           1091 non-null   float64
 8   no_of_share               1086 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 76.8+ KB

In [385]:
cleaned_secondary_data.head(10)

,company,lot size,sector,industry,minimum_investment_rupee,subscription_status,min_price_range,max_price_range,no_of_share
0,Prince Pipes,84,GENERAL INDUSTRIALS,PLASTIC PRODUCTS,14952,Oversubscribed,177.0,178.0,282.0
1,DC Infotech and Comms,3000,HARDWARE TECHNOLOGY & EQUIPMENT,IT NETWORKING EQUIPMENT,135000,Oversubscribed,45.0,45.0,24.0
2,Ujjivan Small Finance,400,BANKING AND FINANCE,MICROFINANCE INSTITUTIONS,14800,Oversubscribed,36.0,37.0,2083.0
3,Ascom Leasing,4000,BANKING AND FINANCE,FINANCE (INCLUDING NBFCS),120000,Oversubscribed,30.0,30.0,21.0
4,CSB Bank,75,BANKING AND FINANCE,BANKS,14625,Oversubscribed,193.0,195.0,210.0
5,Mangalam Global,2000,FOOD BEVERAGES & TOBACCO,OTHER AGRICULTURAL PRODUCTS,102000,Oversubscribed,51.0,51.0,42.0
6,Goblin,2000,TEXTILES APPARELS & ACCESSORIES,OTHER APPARELS & ACCESSORIES,104000,Oversubscribed,51.0,52.0,29.0
7,Vishwaraj Sugar,240,FOOD BEVERAGES & TOBACCO,SUGAR,14400,Oversubscribed,55.0,60.0,100.0
8,Gensol Engineering,1600,CEMENT AND CONSTRUCTION,CONSTRUCTION & ENGINEERING,132800,Oversubscribed,81.0,83.0,22.0
9,Goldkart Jewels,10000,TEXTILES APPARELS & ACCESSORIES,GEMS & JEWELLERY,100000,Oversubscribed,10.0,10.0,45.0

In [386]:
cleaned_secondary_data['sector'].unique()

array(['GENERAL INDUSTRIALS', 'HARDWARE TECHNOLOGY & EQUIPMENT',
       'BANKING AND FINANCE', 'FOOD BEVERAGES & TOBACCO',
       'TEXTILES APPARELS & ACCESSORIES', 'CEMENT AND CONSTRUCTION',
       'DIVERSIFIED CONSUMER SERVICES', 'METALS & MINING', 'FMCG',
       'HEALTHCARE EQUIPMENT & SUPPLIES', 'SOFTWARE & SERVICES',
       'CONSUMER DURABLES', 'RETAILING', 'CHEMICALS & PETROCHEMICALS',
       'COMMERCIAL SERVICES & SUPPLIES', 'TELECOMMUNICATIONS EQUIPMENT',
       'PHARMACEUTICALS & BIOTECHNOLOGY', 'MEDIA',
       'HOTELS RESTAURANTS & TOURISM', 'REALTY', 'ABS LTD.',
       'AUTOMOBILES & AUTO COMPONENTS', 'TRANSPORTATION', 'TOES.COM LTD.',
       'DIVERSIFIED', 'UTILITIES', 'TELECOM SERVICES', 'FERTILIZERS',
       'OIL & GAS', 'FOREST MATERIALS'], dtype=object)

In [387]:
cleaned_secondary_data['industry'].unique()

array(['PLASTIC PRODUCTS', 'IT NETWORKING EQUIPMENT',
       'MICROFINANCE INSTITUTIONS', 'FINANCE (INCLUDING NBFCS)', 'BANKS',
       'OTHER AGRICULTURAL PRODUCTS', 'OTHER APPARELS & ACCESSORIES',
       'SUGAR', 'CONSTRUCTION & ENGINEERING', 'GEMS & JEWELLERY',
       'TRAVEL SUPPORT SERVICES', 'OTHER FINANCIAL SERVICES',
       'INDUSTRIAL MACHINERY', 'IRON & STEEL PRODUCTS',
       'PERSONAL PRODUCTS', 'HEALTHCARE SUPPLIES',
       'IT CONSULTING & SOFTWARE', 'INTERNET SOFTWARE & SERVICES',
       'HOUSEHOLD APPLIANCES', 'SPECIALTY RETAIL', 'AGROCHEMICALS',
       'INTERNET & CATALOGUE RETAIL', 'TEXTILES',
       'COMMODITY TRADING & DISTRIBUTION', 'TELECOM EQUIPMENT',
       'PHARMACEUTICALS', 'SPECIALTY CHEMICALS', 'CONTAINERS & PACKAGING',
       'MOVIES & ENTERTAINMENT', 'WIRES & CABLES', 'HEALTHCARE SERVICES',
       'MISC. COMMERCIAL SERVICES', 'DEPARTMENT STORES', 'HOTELS',
       'REITS-INVITS', 'EDUCATION', 'HEAVY ELECTRICAL EQUIPMENT',
       'AUTO PARTS & EQUIPMENT', 'CONSULTING SERVICES', 'DISTRIBUTORS',
       'WAREHOUSING & LOGISTICS', 'PACKAGED FOODS', 'RESTAURANTS',
       'REALTY', 'ASSET MANAGEMENT COS.', 'AEROSPACE & DEFENCE',
       'CAPITAL MARKETS', 'DATA PROCESSING SERVICES', 'TOURISM',
       'DIVERSIFIED', 'DYES & PIGMENTS', 'OTHER FOOD & BEVERAGES',
       'ADVERTISING & MEDIA', 'ALUMINIUM AND ALUMINIUM PRODUCTS',
       'FOOTWEAR', 'IT SOFTWARE PRODUCTS', 'COAL & MINING',
       'GENERAL INSURANCE', 'MEDICAL EQUIPMENT', 'HEALTHCARE FACILITIES',
       'UTILITIES:NON-ELECTRICAL', 'TRANSPORT RELATED SERVICES',
       'CONSUMER ELECTRONICS', 'EDIBLE OILS', 'OTHER NON-FERROUS METALS',
       'OTHER INDUSTRIAL PRODUCTS', 'BPO/KPO', 'HOUSING FINANCE',
       'CEMENT & CEMENT PRODUCTS', 'CERAMICS', 'ROADS & HIGHWAYS',
       'IRON & STEEL/INTERM.PRODUCTS', 'PAINTS', 'MARINE PORT & SERVICES',
       'SPECIAL CONSUMER SERVICES', 'TELECOM SERVICES',
       'FINANCIAL INSTITUTIONS', 'WASTE MANAGEMENT',
       'BREWERIES & DISTILLERIES', 'GREEN & RENEWABLE ENERGY',
       'OTHER ELECTRICAL EQUIPMENT/PRODUCTS', 'COMMODITY CHEMICALS',
       'CONSTRUCTION MATERIALS', 'POWER - ELECTRIC UTILITIES',
       'ELECTRONIC COMPONENTS', 'FERTILIZERS', 'LIFE INSURANCE',
       'IT TRAINING SERVICES', 'FURNITURE-FURNISHING',
       'OTHER INDUSTRIAL GOODS', 'COMMODITY PRINTING/STATIONERY',
       'CASTINGS & FORGINGS', 'SURFACE TRANSPORTATION',
       'REFINERIES/PETRO-PRODUCTS', 'HOUSEWARE', 'SHIPPING',
       'OIL MARKETING & DISTRIBUTION', 'COMPUTER HARDWARE',
       'BIOTECHNOLOGY', 'PAPER & PAPER PRODUCTS',
       'AUTO TYRES & RUBBER PRODUCTS', 'TEA & COFFEE',
       'COMMERCIAL VEHICLES', 'FOREST PRODUCTS',
       'CARS & UTILITY VEHICLES', 'PETROCHEMICALS', 'COPPER',
       '2/3 WHEELERS', 'PUBLISHING', 'OTHER TELECOM SERVICES',
       'HOUSEHOLD PRODUCTS', 'FIBRES & PLASTICS', 'INDUSTRIAL GASES',
       'COMPRESSORS & PUMPS', 'ELECTRODES & REFRACTORIES'], dtype=object)

### Merging all data frames

In [389]:
merged_df = final_df.merge(cleaned_primary_data,on='company',how = 'inner')

In [390]:
# merged_df = merged_df[merged_df['listing date'] < '2024-01-01']

In [391]:
merged_df.shape

(957, 39)

In [392]:
# merged_df = merged_df.drop(['launched_1','launched_2','launched_3'],axis=1)

In [393]:
merged_df.isnull().sum()

company                               0
cash_from_operating_act_ann_cr_1      0
cash_from_operating_act_ann_cr_2      0
cash_from_operating_act_ann_cr_3      0
ebitda_ann_cr_1                       0
ebitda_ann_cr_2                       0
ebitda_ann_cr_3                       0
eps_adj_latest_ann_1                  0
eps_adj_latest_ann_2                  0
eps_adj_latest_ann_3                  0
net_profit_ann_cr_1                   0
net_profit_ann_cr_2                   0
net_profit_ann_cr_3                   0
npm_ann_percent_1                     0
npm_ann_percent_2                     0
npm_ann_percent_3                     0
roce_ann_percent_1                    0
roce_ann_percent_2                    0
roce_ann_percent_3                    0
roe_ann_percent_1                     0
roe_ann_percent_2                     0
roe_ann_percent_3                     0
total_debt_to_total_equity_ann_1      0
total_debt_to_total_equity_ann_2      0
total_debt_to_total_equity_ann_3      0
ltp                                   0
market cap(in cr)                     0
listing open                          0
listing close                         0
issue type                            0
listing date                          0
issue size (in Cr)                    0
issue price (in rupee)                0
qib subscription                    372
hni subscription                      2
retail subscription                   6
total subscription                    2
listing gain %                        0
current gain %                        0
dtype: int64

In [394]:
merged_df

,company,cash_from_operating_act_ann_cr_1,cash_from_operating_act_ann_cr_2,cash_from_operating_act_ann_cr_3,ebitda_ann_cr_1,ebitda_ann_cr_2,ebitda_ann_cr_3,eps_adj_latest_ann_1,eps_adj_latest_ann_2,eps_adj_latest_ann_3,...,issue type,listing date,issue size (in Cr),issue price (in rupee),qib subscription,hni subscription,retail subscription,total subscription,listing gain %,current gain %
0,3B Films,-3.2,3.3,1.6,3.25,4.7,7.45,-0.1,0.3,1.5,...,SME,2025-06-06,33.8,50.0,NaN,0.9,2.6,1.8,-3.0,-30.9
1,3C IT Sol & Telecom,1.2,-6.0,-2.2,2.00,2.9,4.20,1.4,1.8,1.9,...,SME,2024-06-12,11.4,52.0,NaN,10.2,28.3,19.2,-17.3,-54.8
2,A G Universal,2.0,1.9,1.4,0.90,1.1,1.70,0.1,0.3,1.3,...,SME,2023-04-24,8.7,60.0,NaN,4.2,2.5,3.4,0.0,0.1
3,AA Plus Tradelink,-1.1,0.2,-1.6,0.10,0.2,0.20,0.0,0.0,0.0,...,SME,2021-07-22,6.5,18.0,NaN,0.3,2.6,1.5,-7.5,-51.1
4,AAA Technologies,1.0,1.0,0.9,0.30,1.5,3.10,0.1,0.8,1.6,...,SME,2020-10-13,10.2,42.0,NaN,2.5,2.3,2.4,6.0,112.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,Zinka Logistics Solutions Ltd.,-32.2,-78.2,-119.2,-177.60,-197.7,-213.10,-13.5,-15.9,-16.2,...,MainBoard,2024-11-22,1114.7,273.0,2.8,0.2,1.7,1.9,2.9,66.9
953,Zomato,-61.7,-1667.0,-2073.9,-35.20,-1690.1,-2057.30,-0.1,-0.6,-2.5,...,MainBoard,2021-07-23,9375.0,76.0,51.8,33.0,7.5,38.3,51.3,309.7
954,delaPlex,0.6,2.8,1.4,5.80,8.6,11.10,4.4,6.7,8.7,...,SME,2024-02-02,46.1,192.0,48.2,445.6,212.2,165.2,60.9,-24.0
955,eMudhra,15.3,11.2,31.6,23.20,22.5,28.10,1.2,1.4,1.8,...,MainBoard,2022-06-01,412.8,256.0,4.0,1.3,2.6,2.7,5.5,219.0
956,ideaForge Technology,-17.1,-31.7,66.5,-10.90,-10.2,75.10,-3.1,-3.3,10.2,...,MainBoard,2023-07-07,567.0,672.0,125.8,80.6,85.2,106.0,93.5,-28.9

In [395]:
ipos = merged_df.merge(cleaned_secondary_data,on='company',how='inner')

In [396]:
ipos.head().T

,0,1,2,3,4
company,3B Films,3C IT Sol & Telecom,A G Universal,AA Plus Tradelink,AAA Technologies
cash_from_operating_act_ann_cr_1,-3.2,1.2,2.0,-1.1,1.0
cash_from_operating_act_ann_cr_2,3.3,-6.0,1.9,0.2,1.0
cash_from_operating_act_ann_cr_3,1.6,-2.2,1.4,-1.6,0.9
ebitda_ann_cr_1,3.25,2.0,0.9,0.1,0.3
ebitda_ann_cr_2,4.7,2.9,1.1,0.2,1.5
ebitda_ann_cr_3,7.45,4.2,1.7,0.2,3.1
eps_adj_latest_ann_1,-0.1,1.4,0.1,0.0,0.1
eps_adj_latest_ann_2,0.3,1.8,0.3,0.0,0.8
eps_adj_latest_ann_3,1.5,1.9,1.3,0.0,1.6
net_profit_ann_cr_1,-0.51,2.11,0.24,0.26,1.09
net_profit_ann_cr_2,1.27,1.65,0.38,2.22,9.77
net_profit_ann_cr_3,5.66,1.83,1.0,0.85,19.94
npm_ann_percent_1,-0.3,0.9,0.1,0.1,0.1
npm_ann_percent_2,0.9,1.1,0.2,0.1,1.0
npm_ann_percent_3,4.3,1.1,0.7,0.1,2.1
roce_ann_percent_1,5.68,36.0,13.63,1.59,7.0
roce_ann_percent_2,8.61,21.59,13.08,3.56,28.99
roce_ann_percent_3,12.06,26.54,20.54,3.65,43.52
roe_ann_percent_1,-1.34,57.38,2.8,1.06,3.49
roe_ann_percent_2,3.44,42.54,7.68,1.75,20.61
roe_ann_percent_3,13.87,27.73,27.09,2.39,30.72
total_debt_to_total_equity_ann_1,3.9,2.7,4.5,0.3,0.2
total_debt_to_total_equity_ann_2,3.7,4.0,5.0,0.2,0.1
total_debt_to_total_equity_ann_3,3.5,3.3,3.6,0.2,0.1
ltp,34.5,23.5,60.0,0.9,89.1
market cap(in cr),96.6,14.1,32.9,21.4,114.3
listing open,48.5,43.0,60.0,16.6,44.5
listing close,46.1,45.2,60.1,17.5,43.6
issue type,SME,SME,SME,SME,SME
listing date,2025-06-06 00:00:00,2024-06-12 00:00:00,2023-04-24 00:00:00,2021-07-22 00:00:00,2020-10-13 00:00:00
issue size (in Cr),33.8,11.4,8.7,6.5,10.2
issue price (in rupee),50.0,52.0,60.0,18.0,42.0
qib subscription,NaN,NaN,NaN,NaN,NaN
hni subscription,0.9,10.2,4.2,0.3,2.5
retail subscription,2.6,28.3,2.5,2.6,2.3
total subscription,1.8,19.2,3.4,1.5,2.4
listing gain %,-3.0,-17.3,0.0,-7.5,6.0
current gain %,-30.9,-54.8,0.1,-51.1,112.1
lot size,3000,2000,2000,8000,3000
sector,COMMERCIAL SERVICES & SUPPLIES,SOFTWARE & SERVICES,METALS & MINING,COMMERCIAL SERVICES & SUPPLIES,COMMERCIAL SERVICES & SUPPLIES
industry,CONTAINERS & PACKAGING,IT CONSULTING & SOFTWARE,IRON & STEEL PRODUCTS,COMMODITY TRADING & DISTRIBUTION,CONSULTING SERVICES
minimum_investment_rupee,150000,104000,120000,144000,126000
subscription_status,Oversubscribed,Oversubscribed,Oversubscribed,Oversubscribed,Oversubscribed
min_price_range,50.0,52.0,60.0,18.0,42.0
max_price_range,50.0,52.0,60.0,18.0,42.0
no_of_share,68.0,22.0,15.0,36.0,24.0

In [397]:
ipos.shape

(957, 47)

`QIB` has around `55%` null value . So i'm thinking 1st i will fill with `median` and checkk the model performance.
2nd i will `drop`  `QIB` column and check model performance.

In [399]:
ipos.isnull().sum()/ipos.shape[0]

company                             0.000000
cash_from_operating_act_ann_cr_1    0.000000
cash_from_operating_act_ann_cr_2    0.000000
cash_from_operating_act_ann_cr_3    0.000000
ebitda_ann_cr_1                     0.000000
ebitda_ann_cr_2                     0.000000
ebitda_ann_cr_3                     0.000000
eps_adj_latest_ann_1                0.000000
eps_adj_latest_ann_2                0.000000
eps_adj_latest_ann_3                0.000000
net_profit_ann_cr_1                 0.000000
net_profit_ann_cr_2                 0.000000
net_profit_ann_cr_3                 0.000000
npm_ann_percent_1                   0.000000
npm_ann_percent_2                   0.000000
npm_ann_percent_3                   0.000000
roce_ann_percent_1                  0.000000
roce_ann_percent_2                  0.000000
roce_ann_percent_3                  0.000000
roe_ann_percent_1                   0.000000
roe_ann_percent_2                   0.000000
roe_ann_percent_3                   0.000000
total_debt_to_total_equity_ann_1    0.000000
total_debt_to_total_equity_ann_2    0.000000
total_debt_to_total_equity_ann_3    0.000000
ltp                                 0.000000
market cap(in cr)                   0.000000
listing open                        0.000000
listing close                       0.000000
issue type                          0.000000
listing date                        0.000000
issue size (in Cr)                  0.000000
issue price (in rupee)              0.000000
qib subscription                    0.388715
hni subscription                    0.002090
retail subscription                 0.006270
total subscription                  0.002090
listing gain %                      0.000000
current gain %                      0.000000
lot size                            0.000000
sector                              0.000000
industry                            0.000000
minimum_investment_rupee            0.000000
subscription_status                 0.000000
min_price_range                     0.000000
max_price_range                     0.000000
no_of_share                         0.004180
dtype: float64

In [400]:
ipos['qib subscription'] = ipos['qib subscription'].fillna(ipos['qib subscription'].median())

Reason for dropna are :- 

    - There are very minimal nan values.
    - Filling nan should require an assumption.
    - Since nan values are in very small amount , so dropna will not elevate any problem.

In [402]:
ipos = ipos.dropna().copy()

In [403]:
ipos.isnull().sum()

company                             0
cash_from_operating_act_ann_cr_1    0
cash_from_operating_act_ann_cr_2    0
cash_from_operating_act_ann_cr_3    0
ebitda_ann_cr_1                     0
ebitda_ann_cr_2                     0
ebitda_ann_cr_3                     0
eps_adj_latest_ann_1                0
eps_adj_latest_ann_2                0
eps_adj_latest_ann_3                0
net_profit_ann_cr_1                 0
net_profit_ann_cr_2                 0
net_profit_ann_cr_3                 0
npm_ann_percent_1                   0
npm_ann_percent_2                   0
npm_ann_percent_3                   0
roce_ann_percent_1                  0
roce_ann_percent_2                  0
roce_ann_percent_3                  0
roe_ann_percent_1                   0
roe_ann_percent_2                   0
roe_ann_percent_3                   0
total_debt_to_total_equity_ann_1    0
total_debt_to_total_equity_ann_2    0
total_debt_to_total_equity_ann_3    0
ltp                                 0
market cap(in cr)                   0
listing open                        0
listing close                       0
issue type                          0
listing date                        0
issue size (in Cr)                  0
issue price (in rupee)              0
qib subscription                    0
hni subscription                    0
retail subscription                 0
total subscription                  0
listing gain %                      0
current gain %                      0
lot size                            0
sector                              0
industry                            0
minimum_investment_rupee            0
subscription_status                 0
min_price_range                     0
max_price_range                     0
no_of_share                         0
dtype: int64

In [404]:
ipos.head().T

,0,1,2,3,4
company,3B Films,3C IT Sol & Telecom,A G Universal,AA Plus Tradelink,AAA Technologies
cash_from_operating_act_ann_cr_1,-3.2,1.2,2.0,-1.1,1.0
cash_from_operating_act_ann_cr_2,3.3,-6.0,1.9,0.2,1.0
cash_from_operating_act_ann_cr_3,1.6,-2.2,1.4,-1.6,0.9
ebitda_ann_cr_1,3.25,2.0,0.9,0.1,0.3
ebitda_ann_cr_2,4.7,2.9,1.1,0.2,1.5
ebitda_ann_cr_3,7.45,4.2,1.7,0.2,3.1
eps_adj_latest_ann_1,-0.1,1.4,0.1,0.0,0.1
eps_adj_latest_ann_2,0.3,1.8,0.3,0.0,0.8
eps_adj_latest_ann_3,1.5,1.9,1.3,0.0,1.6
net_profit_ann_cr_1,-0.51,2.11,0.24,0.26,1.09
net_profit_ann_cr_2,1.27,1.65,0.38,2.22,9.77
net_profit_ann_cr_3,5.66,1.83,1.0,0.85,19.94
npm_ann_percent_1,-0.3,0.9,0.1,0.1,0.1
npm_ann_percent_2,0.9,1.1,0.2,0.1,1.0
npm_ann_percent_3,4.3,1.1,0.7,0.1,2.1
roce_ann_percent_1,5.68,36.0,13.63,1.59,7.0
roce_ann_percent_2,8.61,21.59,13.08,3.56,28.99
roce_ann_percent_3,12.06,26.54,20.54,3.65,43.52
roe_ann_percent_1,-1.34,57.38,2.8,1.06,3.49
roe_ann_percent_2,3.44,42.54,7.68,1.75,20.61
roe_ann_percent_3,13.87,27.73,27.09,2.39,30.72
total_debt_to_total_equity_ann_1,3.9,2.7,4.5,0.3,0.2
total_debt_to_total_equity_ann_2,3.7,4.0,5.0,0.2,0.1
total_debt_to_total_equity_ann_3,3.5,3.3,3.6,0.2,0.1
ltp,34.5,23.5,60.0,0.9,89.1
market cap(in cr),96.6,14.1,32.9,21.4,114.3
listing open,48.5,43.0,60.0,16.6,44.5
listing close,46.1,45.2,60.1,17.5,43.6
issue type,SME,SME,SME,SME,SME
listing date,2025-06-06 00:00:00,2024-06-12 00:00:00,2023-04-24 00:00:00,2021-07-22 00:00:00,2020-10-13 00:00:00
issue size (in Cr),33.8,11.4,8.7,6.5,10.2
issue price (in rupee),50.0,52.0,60.0,18.0,42.0
qib subscription,38.9,38.9,38.9,38.9,38.9
hni subscription,0.9,10.2,4.2,0.3,2.5
retail subscription,2.6,28.3,2.5,2.6,2.3
total subscription,1.8,19.2,3.4,1.5,2.4
listing gain %,-3.0,-17.3,0.0,-7.5,6.0
current gain %,-30.9,-54.8,0.1,-51.1,112.1
lot size,3000,2000,2000,8000,3000
sector,COMMERCIAL SERVICES & SUPPLIES,SOFTWARE & SERVICES,METALS & MINING,COMMERCIAL SERVICES & SUPPLIES,COMMERCIAL SERVICES & SUPPLIES
industry,CONTAINERS & PACKAGING,IT CONSULTING & SOFTWARE,IRON & STEEL PRODUCTS,COMMODITY TRADING & DISTRIBUTION,CONSULTING SERVICES
minimum_investment_rupee,150000,104000,120000,144000,126000
subscription_status,Oversubscribed,Oversubscribed,Oversubscribed,Oversubscribed,Oversubscribed
min_price_range,50.0,52.0,60.0,18.0,42.0
max_price_range,50.0,52.0,60.0,18.0,42.0
no_of_share,68.0,22.0,15.0,36.0,24.0

In [405]:
ipos['qib subscription'].median()

38.9

In [406]:
ipos.shape

(947, 47)

In [530]:
ipos = ipos[ipos['listing date'] < '2024-01-01']

In [532]:
def calculate_cffoa_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['cash_from_operating_act_ann_cr_1']
    end_value = row['cash_from_operating_act_ann_cr_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['cash_from_operating_act_ann_cr_2'] == 0:
            return row['cash_from_operating_act_ann_cr_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['cash_from_operating_act_ann_cr_3'] - row['cash_from_operating_act_ann_cr_2']) / abs(row['cash_from_operating_act_ann_cr_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [534]:
def calculate_ebitda_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['ebitda_ann_cr_1']
    end_value = row['ebitda_ann_cr_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['ebitda_ann_cr_2'] == 0:
            return row['ebitda_ann_cr_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['ebitda_ann_cr_3'] - row['ebitda_ann_cr_2']) / abs(row['ebitda_ann_cr_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [536]:
def calculate_eps_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['eps_adj_latest_ann_1']
    end_value = row['eps_adj_latest_ann_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['eps_adj_latest_ann_2'] == 0:
            return row['eps_adj_latest_ann_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['eps_adj_latest_ann_3'] - row['eps_adj_latest_ann_2']) / abs(row['eps_adj_latest_ann_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [538]:
def calculate_npm_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['npm_ann_percent_1']
    end_value = row['npm_ann_percent_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['npm_ann_percent_2'] == 0:
            return row['npm_ann_percent_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['npm_ann_percent_3'] - row['npm_ann_percent_2']) / abs(row['npm_ann_percent_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [540]:
def calculate_net_profit_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['net_profit_ann_cr_1']
    end_value = row['net_profit_ann_cr_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['net_profit_ann_cr_2'] == 0:
            return row['net_profit_ann_cr_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['net_profit_ann_cr_3'] - row['net_profit_ann_cr_2']) / abs(row['net_profit_ann_cr_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [542]:
def calculate_roce_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['roce_ann_percent_1']
    end_value = row['roce_ann_percent_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['roce_ann_percent_2'] == 0:
            return row['roce_ann_percent_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['roce_ann_percent_3'] - row['roce_ann_percent_2']) / abs(row['roce_ann_percent_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [544]:
def calculate_roe_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['roe_ann_percent_1']
    end_value = row['roe_ann_percent_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['roe_ann_percent_2'] == 0:
            return row['roe_ann_percent_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['roe_ann_percent_3'] - row['roe_ann_percent_2']) / abs(row['roe_ann_percent_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [546]:
def calculate_der_change(row):
    """
    Calculates percentage change using a hybrid approach based on our discussion.
    
    Args:
        row (pandas.Series): A row from the DataFrame containing financial data.
    
    Returns:
        float: The calculated change score.
    """
    start_value = row['total_debt_to_total_equity_ann_1']
    end_value = row['total_debt_to_total_equity_ann_3']
    
    # Scenario 1: Handle the zero-division case first.
    if start_value == 0:
        # If the second year is also zero, the change is the third year's value.
        if row['total_debt_to_total_equity_ann_2'] == 0:
            return row['total_debt_to_total_equity_ann_3']
        # Otherwise, calculate the change from the second year.
        else:
            return ((row['total_debt_to_total_equity_ann_3'] - row['total_debt_to_total_equity_ann_2']) / abs(row['total_debt_to_total_equity_ann_2'])) * 100

    # Scenario 2: Use the modified percentage change formula for all other cases.
    # Taking the absolute value of the start_value correctly handles
    # changes from negative numbers.
    else:
        return ((end_value - start_value) / abs(start_value)) * 100

In [548]:
def calculate_cagr(row):
    current_gain_percent = row['current gain %']
    year = pd.to_datetime(row['listing date']).year
    years = 2025 - year
    
    # Check for valid gain percentage
    if pd.isna(current_gain_percent):
        return np.nan
    
    # Formula: ((1 + Total Gain)^(1/Years)) - 1
    # Convert gain percentage to a decimal
    total_gain_factor = 1 + (current_gain_percent / 100)
    
    # Check for invalid values that could lead to complex numbers
    if total_gain_factor <= 0:
        return np.nan

    # Calculate and return the CAGR
    return round(((total_gain_factor ** (1 / years)) - 1) * 100,4)

In [550]:
def calculate_change(df):
    return (
        df
        .assign(
            change_in_cffoa = lambda df_: round(df_.apply(calculate_cffoa_change,axis=1),4),
            change_in_ebitda = lambda df_: round(df_.apply(calculate_ebitda_change,axis=1),4),
            change_in_eps = lambda df_: round(df_.apply(calculate_eps_change,axis=1),4),
            change_in_net_profit = lambda df_: round(df_.apply(calculate_net_profit_change,axis=1),4),
            change_in_npm_percent = lambda df_: round(df_.apply(calculate_npm_change,axis=1),4),
            change_in_roce_percent = lambda df_: round(df_.apply(calculate_roce_change,axis=1),4),
            change_in_roe_percent = lambda df_: round(df_.apply(calculate_roe_change,axis=1),4),
            change_in_debt_to_equity_ratio = lambda df_: round(df_.apply(calculate_der_change,axis=1),4),
            CAGR = lambda df_ : df_.apply(calculate_cagr,axis=1)
        )
        .drop(columns=['cash_from_operating_act_ann_cr_1',
       'cash_from_operating_act_ann_cr_2', 'cash_from_operating_act_ann_cr_3',
       'ebitda_ann_cr_1', 'ebitda_ann_cr_2', 'ebitda_ann_cr_3',
       'eps_adj_latest_ann_1', 'eps_adj_latest_ann_2', 'eps_adj_latest_ann_3',
       'npm_ann_percent_1', 'npm_ann_percent_2', 'npm_ann_percent_3',
       'net_profit_ann_cr_1', 'net_profit_ann_cr_2', 'net_profit_ann_cr_3',
       'roce_ann_percent_1', 'roce_ann_percent_2', 'roce_ann_percent_3',
       'roe_ann_percent_1', 'roe_ann_percent_2', 'roe_ann_percent_3',
       'total_debt_to_total_equity_ann_1', 'total_debt_to_total_equity_ann_2',
       'total_debt_to_total_equity_ann_3'])
    )

In [552]:
# ipo['cash_from_operating_act_ann_cr_1']
ipo = calculate_change(ipos)

change_in_cffoa = ipo['cash_from_operating_act_ann_cr_3'] - ipo['cash_from_operating_act_ann_cr_1']
denominator_of_cffoa = abs(ipo['cash_from_operating_act_ann_cr_3']) + abs(ipo['cash_from_operating_act_ann_cr_1'])
ipo['Normalized Change in CFFOA'] = 0.0
ipo.loc[denominator_of_cffoa !=0 , 'Normalized Change in CFFOA'] = change_in_cffoa / denominator_of_cffoa


change_in_ebitda = ipo['ebitda_ann_cr_3']  - ipo['ebitda_ann_cr_1']
denominator_of_ebitda = abs(ipo['ebitda_ann_cr_3'])  + abs(ipo['ebitda_ann_cr_1'])
ipo['Normalized Change in EBITDA'] = 0.0
ipo.loc[denominator_of_ebitda != 0, 'Normalized Change in EBITDA'] = change_in_ebitda / denominator_of_ebitda


change_in_eps = ipo['eps_adj_latest_ann_3']  - ipo['eps_adj_latest_ann_1']
denominator_of_eps = abs(ipo['eps_adj_latest_ann_3'])  + abs(ipo['eps_adj_latest_ann_1'])
ipo['Normalized Change in EPS'] = 0.0
ipo.loc[denominator_of_eps != 0, 'Normalized Change in EPS'] = change_in_eps / denominator_of_eps

change_in_net_profit = ipo['net_profit_ann_cr_3']  - ipo['net_profit_ann_cr_1']
denominator_of_net_profit = abs(ipo['net_profit_ann_cr_3'])  + abs(ipo['net_profit_ann_cr_1'])
ipo['Normalized Change in Net Profit'] = 0.0
ipo.loc[denominator_of_net_profit != 0, 'Normalized Change in Net Profit'] = change_in_net_profit / denominator_of_net_profit


change_in_npm_percent = ipo['npm_ann_percent_3']  - ipo['npm_ann_percent_1']
denominator_of_npm_percent = abs(ipo['npm_ann_percent_3'])  + abs(ipo['npm_ann_percent_1'])
ipo['Normalized Change in NPM Percent'] = 0.0
ipo.loc[denominator_of_npm_percent != 0, 'Normalized Change in NPM Percent'] = change_in_npm_percent / denominator_of_npm_percent


change_in_roce_percent = ipo['roce_ann_percent_3']  - ipo['roce_ann_percent_1']
denominator_of_roce_percent = abs(ipo['roce_ann_percent_3'])  + abs(ipo['roce_ann_percent_1'])
ipo['Normalized Change in ROCE'] = 0.0
ipo.loc[denominator_of_roce_percent != 0, 'Normalized Change in ROCE'] = change_in_roce_percent / denominator_of_roce_percent


change_in_roe_percent = ipo['roe_ann_percent_3']  - ipo['roe_ann_percent_1']
denominator_of_roe_percent = abs(ipo['roe_ann_percent_3'])  + abs(ipo['roe_ann_percent_1'])
ipo['Normalized Change in ROE Percent'] = 0.0
ipo.loc[denominator_of_roe_percent != 0, 'Normalized Change in ROE Percent'] = change_in_roe_percent / denominator_of_roe_percent


change_in_db_ratio = ipo['total_debt_to_total_equity_ann_3']  - ipo['total_debt_to_total_equity_ann_1']
denominator_of_db_ratio = abs(ipo['total_debt_to_total_equity_ann_3'])  + abs(ipo['total_debt_to_total_equity_ann_1'])
ipo['Normalized Change in D-B Ratio'] = 0.0
ipo.loc[denominator_of_db_ratio != 0, 'Normalized Change in D-B Ratio'] = change_in_db_ratio / denominator_of_db_ratio

In [557]:
ipo.shape

(505, 32)

In [561]:
ipo.to_csv("IPO.csv",index=False)